
.inner{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left left 0;
    margin-top: 100%;
}

.outer{
    text-align: center; 
    vertical-align: middle;      
    overflow: hidden;
    display: inline-block;
    height: 33%;
}

.ctxLabel{
    background-color: red;
    vertical-align: middle;
}