<div fxLayout="column" class="full-height">
  <div fxLayout="row" class="full-height">
    <tasks *ngIf="isOpenTab('tasks')" [email]="email" fxFlex></tasks>
    <wiki *ngIf="isOpenTab('wiki')" fxFlex></wiki>
    <div fxBasis="25px" fxGrow="0" fxShrink="0">
      <div fxLayout="column" fxLayoutAlign="space-between stretch" class="full-height">
          <div class="ctxTab" [class.selected]="isOpenTab('tasks')" fxLayoutAlign="center center" (click)="openTab('tasks')">
            <context-tab text="Tasks" svgHeight="50" [active]="isOpenTab('tasks')"></context-tab>
          </div>
          <div class="ctxTab" [class.selected]="isOpenTab('network')" fxLayoutAlign="center center" (click)="openTab('network')">
            <context-tab text="Person Network" svgHeight="120" [active]="isOpenTab('network')"></context-tab>
          </div>
          <div class="ctxTab" [class.selected]="isOpenTab('wiki')" fxLayoutAlign="center center" (click)="openTab('wiki')">
            <context-tab text="Wikipedia" svgHeight="80" [active]="isOpenTab('wiki')"></context-tab>
          </div>
      </div>
    </div>
  </div>
</div>
                                                                                                                                                              
                                                                                                                                                                                                                         