<div fxLayout="column" class="full-height">
  <div fxLayout="row" class="full-height">
    <tasks [email]="email" fxFlex></tasks>
    <div fxBasis="25px" fxGrow="0" fxShrink="0">
      <div fxLayout="column" fxLayoutAlign="space-between stretch" class="full-height">
          <div class="ctxLabel" fxLayoutAlign="center center">
            <svg width="20" height="50" xmlns="http://www.w3.org/2000/svg">
              <text transform="rotate(-90 10,25)" font-family="Helvetica, Arial, sans-serif" font-size="16" y="30" x="-10" fill="#d7e3ef">Tasks</text>
            </svg>
          </div>
          <div class="ctxLabel">L</div>
          <div class="ctxLabel">L</div>
      </div>
    </div>
  </div>
</div>
                                                                                                                                                              
                                                                                                                                                                                                                         