<div fxLayout="column" class="full-height">
  <div fxLayout="row">
    <tasks [email]="email" fxFlex="90"></tasks>
    <div fxFlex="10">
      
      <div class="outer"><div class="inner">Tasks</div></div>
      <div class="outer"><div class="inner">Wiki</div></div>
      <div class="outer"><div class="inner">Persons</div></div>

    </div>
  </div>
</div>
                                                                                                                                                              
                                                                                                                                                                                                                         