<md-card fxFlex>
  <md-card-title>Pattern Management</md-card-title>
  <md-card-content>
    <h3>Current Patterns</h3>
    <md-list>
      <md-list-item>
        <h3 md-line> a </h3>
        <p md-line>
          <span> b </span>
          <span class="demo-2"> -- c </span>
        </p>
      </md-list-item>
      <md-list-item>
        <h3 md-line> a </h3>
        <p md-line>
          <span> b </span>
          <span class="demo-2"> -- c </span>
        </p>
      </md-list-item>
      <md-list-item>
        <h3 md-line> a </h3>
        <p md-line>
          <span> b </span>
          <span class="demo-2"> -- c </span>
        </p>
      </md-list-item>
    </md-list>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>
