.pattern-action-bar-item {
  margin: 5px;
}

.pattern-list-item {
  &>* {
    margin: 5px;
  }
}

.fab-icon {
  color: white;
}
.span-style{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;

}



/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  font-size: medium;
  visibility: hidden;
  background-color: white;
  color: slategrey;
  text-align: center;
  padding: 5px 3px;
  border-radius: 5px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

