<mat-card>
  <mat-card-title>Pattern Management</mat-card-title>
  <mat-card-content>
    <h3>Current Patterns</h3>
    <mat-list>
      <mat-list-item *ngFor="let p of patterns">
        <div fxFlex fxLayoutAlign="start center" class="pattern-list-item">
          <mat-icon>data_usage</mat-icon>
          <span>{{p.pattern}}</span><small>{{p.isDefault ? 'Default': 'User-defined'}}</small>
        </div>
        <div fxFlex *ngIf="!p.isDefault" fxLayoutAlign="end center">
          <button mat-mini-fab (click)="deletePattern(p)" class="pattern-action-bar-item"><mat-icon class="fab-icon">delete</mat-icon></button>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-mini-fab (click)="addPattern()" class="pattern-action-bar-item"><mat-icon class="fab-icon">add</mat-icon></button>
    <mat-input-container class="pattern-action-bar-item">
      <input matInput [(ngModel)]="newPattern" placeholder="New pattern, e.g. do * you">
    </mat-input-container>
  </mat-card-actions>
</mat-card>
