<div fxLayout="column">
  <div fxLayout="row">
    <span fxFlex>Analysis Details</span>
    <mat-icon class="pointer" (click)="emailDialogRef.close()">close</mat-icon>
  </div>
  <div fxLayout="row">
    <mat-list>
      <h3 mat-subheader>Sentence</h3>
      <mat-list-item>
        <mat-icon mat-list-avatar>short_text</mat-icon>
        <h3 class="sentence-dialog-heading" mat-line>Sentence</h3>
        <p mat-line>{{sentence.sentence}}</p>
      </mat-list-item>
      <h3 mat-subheader>Suggested by Analysis</h3>
      <mat-list-item *ngFor="let type of task.task.analysis">
        <mat-icon mat-list-avatar>data_usage</mat-icon>
        <h3 class="sentence-dialog-heading" mat-line>Analysis Type</h3>
        <p mat-line>{{type}}</p>
      </mat-list-item>
      <h3 mat-subheader >BETA - Classification</h3>
      <mat-list-item *ngIf="sentence.classification && sentence.classification.length > 0">
        <mat-icon mat-list-avatar svgIcon="brain"></mat-icon>
        <h3 class="sentence-dialog-heading" mat-line>Logistic Regression</h3>
        <p mat-line [class.larger]="sentence.classification[0].value > sentence.classification[1].value">{{sentence.classification[0].label}} - {{sentence.classification[0].value | percent}}</p>
        <p mat-line [class.larger]="sentence.classification[1].value > sentence.classification[0].value">{{sentence.classification[1].label}} - {{sentence.classification[1].value | percent}}</p>
      </mat-list-item>
      <mat-list-item *ngIf="!sentence.classification || sentence.classification.length == 0">
        <mat-icon mat-list-avatar svgIcon="brain"></mat-icon>
        <h3 class="sentence-dialog-heading" mat-line>Logistic Regression</h3>
        <p mat-line>Please fill up your training data set to get classifications.</p>
      </mat-list-item>
    </mat-list>
  </div>
</div>
