/*styles list content only*/

.padding {
  padding: 8px;
}

.full button span {
  background-color: ab9ba9;
  border-radius: 32px;
  color: black;
}

.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}

.navbar {
  margin-bottom: 0px;
}

.list-group-item-text {
  max-height: 50px;
  overflow: hidden;
}
