.route-active {
  background-color: #2f3649;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5) inset;
}

.route-active a {
  font-weight: bold;
}

.navbar-list-item {
  color: #d7e3ef;
}

.v-align-middle {
  vertical-align: middle;
}

.unseen-counter {
  background-color: #2f3649;
  width: 18px;
  color: white;
  height: 18px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  padding: 2px;
  border-radius: 4px;
}

.route-active .unseen-counter {
  background-color: #f78578;
}

.no-padding {
  padding-top: 0;
}

.padding-left {
  padding-left: 10px;
}
