<md-list-item class="navbar-list-item" dnd-droppable
              [class.route-active]="isActive(item.route)"
              [routerLink]="item.route"
              (click)="setCurrentBox()"
              (onDropSuccess)="dropEmailEvent($event)"
              [contextMenu]="basicMenu"
              [contextMenuSubject]="item">
  <div md-line>
    <md-icon class="v-align-middle">{{item.icon}}</md-icon>
    <a class="v-align-middle">{{item.shortName}}</a>
  </div>
  <div *ngIf="item.unseen > 0" class="unseen-counter"><a>{{item.unseen}}</a></div>

</md-list-item>

<md-nav-list class="no-padding padding-left" *ngIf="item.children.length > 0">
  <box-list-item [item]="child" *ngFor="let child of item.children"
                 (onMoveEmailToBox)="moveEmailToBox($event)"></box-list-item>
</md-nav-list>

<context-menu>
  <ng-template [visible]="!item.static" contextMenuItem (execute)="renameBox(item._id)">
    Rename
  </ng-template>
  <ng-template [visible]="!item.static" contextMenuItem divider="true"></ng-template>
  <ng-template [visible]="!item.static" contextMenuItem let-item
               (execute)="moveBox">
    Move to
  </ng-template>
</context-menu>
