<div [fxShow]="!loading" fxFlex fxLayout="column" fxLayoutAlign="start stretch" class="email-list">
  <search-bar fxFlex="46px" (searchEmails)="searchEmails($event)"></search-bar>
  <div fxFlex fxLayout="column" *ngIf="!isEmptyResult(); else emptyList">
    <div fxFlex fxLayout="column" class="scrollable" infinite-scroll [infiniteScrollDistance]="scrollDistance"
         [infiniteScrollThrottle]="scrollThrottle" [scrollWindow]="false" (scrolled)="onScrollDown()">
      <div fxFlex="70px" fxLayout="column" class="email-list-item"
           [routerLink]="mail.route"
           [class.route-active]="isActive(mail.routeStr)"
           [class.unseen]="!isRead(mail)"
           *ngFor="let mail of emails; let i = index" dnd-draggable [dragEnabled]="true" [dragData]="mail">
        <div *ngIf="mail.from.length > 0" fxFlex="33" fxLayout="row">
          <div fxFlex="58" fxLayoutAlign="start center" class="text-overflow padding"
               [innerHTML]="(mail.from[0].name ? mail.from[0].name : mail.from[0].address) | highlight: searchTerm"></div>
          <div fxFlex="2"></div>
          <div fxFlex="10" *ngIf="mail.nonInlineAttachments" fxLayoutAlign="end center"
               class="padding text-overflow date">
            <mat-icon>attachment</mat-icon>
          </div>
          <div fxFlex="40" fxShow="false" fxShow.gt-mat fxLayoutAlign="end center" class="padding text-overflow date">
            {{mail.date | date:'shortDate'}} {{mail.date | date:'shortTime'}}
          </div>
          <div fxFlex="40" fxHide="false" fxHide.gt-mat fxLayoutAlign="end center" class="padding text-overflow date">
            {{mail.date | date:'shortDate'}}
          </div>
        </div>
        <div fxFlex="33" class=" padding text-overflow"
             [innerHTML]="(mail.subject ? mail.subject : 'No subject') | highlight: searchTerm">
        </div>
        <div fxFlex="33" class=" padding first-lines text-overflow"
             [innerHTML]="(mail.text ? mail.text : '') | highlight: searchTerm">
        </div>
      </div>
    </div>
    <div fxFlex="30px" *ngIf="loadingList" fxLayoutAlign="center center">Loading...</div>
  </div>
  <ng-template #emptyList>
    <div fxFlex fxLayoutAlign="center center">
      <div fxFlex="80">
        <ng-container *ngIf="isBoxRoute()">
          This mailbox seems to be empty, please sync again or go to another box.
        </ng-container>
        <ng-container *ngIf="isSearchRoute()">
          The current search returned no results.
        </ng-container>
      </div>
    </div>
  </ng-template>
</div>
<!--
<div fxFlex fxLayoutAlign="center center">
  <spinner [loading]="true"></spinner>
</div>
-->
