:host {
    width: 100%;
    max-width: 85%;
}

.email-list-container {
    background-color: #F8F8F8;
}

.email-list-item:hover {
    background-color: #f2f6fa;
}

.email-list {
    box-shadow: -3px 0px 1px -2px rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .0), 0 1px 5px 0 rgba(0, 0, 0, .12);
    position: relative;
}

.email-list-item {
    border-bottom: 1px solid lightgray;
    border-left: 5px solid lightgray;
    padding: 10px;
    border-right: none;
    border-top: none;
    cursor: pointer;
    font-size: 14px;
}

.email-list-item.unseen {
    border-left: 5px solid #f78578;
}

.route-active {
    background-color: #f2f6fa;
    border-left: 5px solid gray;
    box-shadow: 0px 0px 0px -2px rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .0), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.unseen {
    font-weight: bold !important;
}

.loading-list {
    height: 30px;
    color: gray;
    font-weight: bold;
}

.first-lines {
    color: #545252;
}

.padding {
    padding-top: 2px;
    padding-bottom: 2px;
}

.date {
    font-size: 10px;
}