.textField {
  margin-top: 20px;
}

.plus {
  margin-left: 5px;
}

.glyph {
  margin-right: 5px;
}

.datepicker {
  position: absolute;
  margin-top: 20px;
}

.btn-margin {
  margin-left: 10px;
}

.footer {
  margin-top:20px;
}
