<div flex bsModal #taskModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div flex class="modal-dialog modal-lg">
    <div flex layout="column" class="modal-content">
      <div flex layout-align="start center" class="modal-header">
        <div flex class="modal-header-title">
          <h4 class="modal-title">{{suggestedTask.subject}}</h4>
        </div>
        <div flex layout-align="end center" class="modal-header-close">
          <button type="button" class="btn btn-default" (click)="hideChildModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <div flex layout="column">
          <div flex layout="row" class="form-group">
            <p flex="50">
              <span class="glyphicon glyphicon-user glyph"></span>
              {{suggestedTask.people}}
              <span class="glyphicon glyphicon-plus plus"></span>
            </p>
            <p flex="50">
              <span (click)="openDatePicker()" class="glyphicon glyphicon-calendar glyph"></span>
              {{dueDate | date:'shortDate'}}
              <span *ngIf="opened" (click)="closeDatePicker()" class="  glyphicon glyphicon-ok"></span>
              <datepicker *ngIf="opened" [(ngModel)]="dueDate" [minDate]="minDate"></datepicker>
            </p>

          </div>
          <div flex layout="column" class="form-group">
            <label>Task Content</label>
            <textarea class="form-control" name="text" rows="30" [(ngModel)]="suggestedTask.text"></textarea>
          </div>
          <div flex layout-align="start center">
            <button type="submit" class="btn btn-primary" (click)="sendMail()">Create</button>
            <button type="submit" class="btn btn-danger" (click)="hideChildModal()">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
