.padding {
  padding: 8px;
  padding-top: 0px;
}

.tasks-card{
  margin-bottom: 5px;
}

.tasks {
  padding: 8px;
}

.selectList {
  margin-top: 15px;
}

.glyph {
  margin-right: 5px;
}

.pointer {
  cursor: pointer;
}

.example-full-width {
  width: 100%;
}

.board-width {
  width: 80%;
}

.linkTaskBtn {
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(90, 83, 83, 0.75);
  -moz-box-shadow: 1px 1px 1px 0px rgba(90, 83, 83, 0.75);
  box-shadow: 1px 1px 1px 0px rgba(90, 83, 83, 0.75);
}

.section {
  margin-top: 8px;
}