<div fxFlex fxLayout="column">
  <div md-dialog-title fxLayout="row" fxLayoutAlign="end center">
    <md-icon class="pointer" (click)="closeDialog()">close</md-icon>
  </div>

  <div fxLayout="row">
    <div fxFlex fxLayout="column">
      <md-card fxFlex>
        <md-card-title>Rename box: {{box.shortName}}</md-card-title>
        <md-card-content>
          <div fxLayout="column">
            <md-input-container fxFlex>
              <input fxFlex md-input placeholder="Rename box..." type="text" [(ngModel)]="newBoxShortName">
            </md-input-container>
          </div>
        </md-card-content>
        <md-card-actions fxLayoutAlign="center center">
          <button [disabled]="newBoxShortName == '' || updating" md-raised-button color="primary"
                  (click)="onRenameBox()">Rename Box
          </button>
        </md-card-actions>
      </md-card>
    </div>
  </div>

</div>
