<div fxLayout="column" class="full-height">
  <div *ngIf="isAnyProviderEnabled && email" fxFlex fxLayout="column" class="scrollable task-list">
    <mat-accordion [multi]="true" displayMode="flat" class="task-list">
      <mat-expansion-panel *ngIf="openTasks && openTasks.length" expandedHeight="32px" collapsedHeight="32px" [expanded]="true">
        <mat-expansion-panel-header expandedHeight="32px" collapsedHeight="32px">Open Tasks</mat-expansion-panel-header>
        <task-item *ngFor="let task of openTasks" [task]="task" (click)="openTaskDialog(task, false)"></task-item>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="completedTasks && completedTasks.length" expandedHeight="32px" collapsedHeight="32px">
        <mat-expansion-panel-header expandedHeight="32px" collapsedHeight="32px">Completed Tasks</mat-expansion-panel-header>
        <task-item *ngFor="let task of completedTasks" [task]="task" (click)="openTaskDialog(task, false)"></task-item>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header expandedHeight="32px" collapsedHeight="32px">Suggested Tasks</mat-expansion-panel-header>
        <task-item *ngFor="let task of suggestedTasks" [task]="task" [isSuggestion]="true"
                   (click)="openTaskDialog(task, true)">
        </task-item>
        <task-item *ngIf="!suggestedTasks || !suggestedTasks.length" [task]="{}" [index]="i" [isSuggestion]="true"
                   (click)="openTaskDialog(task, true)">
        </task-item>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div *ngIf="!isAnyProviderEnabled">
    <a fxFlex fxLayoutAlign="center center" class="connect-btn" mat-raised-button [routerLink]="'/settings/tasks'">
      Please connect to a Task Provider
    </a>
  </div>
</div>
