:host {
  width: 100%;
}

.connect-btn {
  padding: 8px 8px 5px;
  background-color: #ec4b4e;
  color: white;
}

:host .mat-expansion-panel-header {
  padding: 0 8px;
}

::ng-deep .task-list .mat-expansion-panel-body {
  margin: 0;
}

.task-list > .mat-expansion-panel {
  box-shadow: none;
}
