<div fxLayout="column" class="full-height">
  <div *ngIf="isAnyProviderEnabled && email" fxFlex fxLayout="column" class="scrollable task-list">
    <task-item *ngFor="let task of email.linkedTasks" [task]="task"
               (click)="openTaskDialog(task, false)">
    </task-item>
    <task-item *ngFor="let task of suggestedTasks" [task]="task" [isSuggestion]="true"
               (click)="openTaskDialog(task, true)">
    </task-item>
    <task-item *ngIf="!suggestedTasks || suggestedTasks.length == 0" [task]="{}" [index]="i" [isSuggestion]="true"
               (click)="openTaskDialog(task, true)">
    </task-item>
  </div>
  <div *ngIf="!isAnyProviderEnabled">
    <a fxFlex fxLayoutAlign="center center" class="connect-btn" mat-raised-button [routerLink]="'/settings/tasks'">
      Please connect to a Task Provider
    </a>
  </div>
</div>
