<div fxLayout="column" class="full-height">
  <div>
    <task-action-bar *ngIf="!errorTrello" (openTaskDialog)="openTaskDialog($event)" (openLinkTask)="openLinkTask($event)" (setSuggestedFilter)="setSuggestedFilter($event)"
      (setLinkedFilter)="setLinkedFilter($event)">
      </task-action-bar>
  </div>
  <div *ngIf="!errorTrello" fxFlex fxLayout="column" class="scrollable">
    <task-list fxFlex [boards]="boards" (createTask)="createTask($event)" (openDialog)="openDialog($event)"
      (openLinkTaskDialog)="openLinkTaskDialog($event)" (deleteTask)="deleteTask($event)" [linkedTasks]="email.linkedTasks"
      [suggestedTasks]="email.suggestedTasks" (highlightSentence)="highlightSentence($event)" (hightlightTaskItem)="hightlightTaskItem($event)"
      [showSuggested]="showSuggested" [showLinked]="showLinked"> </task-list>
  </div>
  <div *ngIf="errorTrello">
    <a fxFlex fxLayoutAlign="center center" class="connect-btn" md-raised-button [routerLink]="'/settings/tasks'">Please connect to a Task Provider</a>
  </div>
</div>
