<form flex layout="column">
  <div flex class="form-group">
    <div flex="10">
      <label>To:</label>
    </div>
    <!-- <input type="email" class="form-control" [(ngModel)]="emailForm.to" name="to" placeholder="Enter email" required> -->
    <div flex="90">
      <input type="email" class="form-control" [(ngModel)]="emailForm.to" name="to" placeholder="Enter email" required>
      <!--  <tag-input [(ngModel)]='emailForm.to' [placeholder]="tagInputOptions.placeholder" [secondaryPlaceholder]="tagInputOptions.secondaryPlaceholder" name="emailTagTo"></tag-input>
    -->
    </div>
  </div>
  <div flex class="form-group">
    <div flex="10">
      <label>Cc:</label>
    </div>
    <!-- <input type="email" class="form-control" [(ngModel)]="emailForm.to" name="to" placeholder="Enter email" required> -->
    <div flex="90">
      <input type="email" class="form-control" [(ngModel)]="emailForm.cc" name="cc" placeholder="Enter email">
      <!--  <tag-input [(ngModel)]='emailForm.cc' [placeholder]="tagInputOptions.placeholder" [secondaryPlaceholder]="tagInputOptions.secondaryPlaceholder" name="emailTagCC"></tag-input>
    -->
    </div>
  </div>
  <div flex class="form-group">
    <div flex="10">
      <label>Bcc:</label>
    </div>
    <!-- <input type="email" class="form-control" [(ngModel)]="emailForm.to" name="to" placeholder="Enter email" required> -->
    <div flex="90">
      <input type="email" class="form-control" [(ngModel)]="emailForm.bcc" name="bcc" placeholder="Enter email">
      <!--  <tag-input [(ngModel)]='emailForm.bcc' [placeholder]="tagInputOptions.placeholder" [secondaryPlaceholder]="tagInputOptions.secondaryPlaceholder" name="emailTagBCC"></tag-input>
    -->
    </div>
  </div>
  <div flex class="form-group">
    <div flex="10">
      <label>Subject:</label>
    </div>
    <div flex="90">
      <input type="text" class="form-control" [(ngModel)]="emailForm.subject" name="subject" placeholder="Enter subject"></div>
  </div>
  <div flex class="form-group">
    <div flex="10">
      <label>Message:</label>
    </div>
    <div flex="90">
      <textarea class="form-control" name="text" rows="20" [(ngModel)]="emailForm.text"></textarea>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" (click)="sendMail()">Send</button>
</form>
