<form flex>
  <div flex layout="column">
    <div flex layout="row" layout-align="start center" class="form-group" [class.has-error]="!scConfig.username" [class.has-success]="scConfig.username">
      <label flex="15">Username:</label>
      <input flex="45" name="username" type="text" class="form-control" [(ngModel)]="scConfig.username" placeholder="Username">
    </div>
    <div flex layout="row" layout-align="start center" class="form-group" [class.has-error]="!scConfig.password" [class.has-success]="scConfig.password">
      <label flex="15">Password:</label>
      <input flex="45" name="password" type="text" class="form-control"  [(ngModel)]="scConfig.password" placeholder="Password">
    </div>
  </div>

    <button (click)="updateUser()" class="btn btn-default">Save</button>
</form>
