<mat-form-field>
  <input name="stringInput" matInput placeholder="Due Date" [formControl]="stringControl"
         [matAutocomplete]="autocompleteDateString" (blur)="onStringValueUpdate()" [readonly]="readonly">
  <mat-autocomplete #autocompleteDateString="matAutocomplete">
    <mat-option *ngFor="let dateString of autocomplete.filtered" [value]="dateString">{{dateString}}</mat-option>
  </mat-autocomplete>

  <input name="dateInput" hidden [formControl]="dateControl" [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker" *ngIf="!readonly"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
