<div class="content-container" [formGroup]="contentForm">
  <div class="param-container" *ngFor="let taskParam of taskParams; let i = index"
       [class.last-param]="(i + 1) == taskParams.length">
    <div *ngIf="taskParam.htmlElement === 'radioboxes'" class="padding-after" fxLayout="column">
      <span class="param-label" fxFlex>{{taskParam.name}}</span>
      <mat-radio-group [formControl]="contentForm.at(i)" [disableControl]="taskParam.readOnly" fxFlex>
        <mat-radio-button *ngFor="let option of taskParam.constraints.enumerationOptions" [value]="option.value"
                          class="radio-option">
          {{option.description}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div *ngIf="taskParam.htmlElement === 'checkboxes'" class="padding-after" fxLayout="column">
      <span class="param-label" fxFlex>{{taskParam.name}}</span>
      <mat-checkbox *ngFor="let option of taskParam.constraints.enumerationOptions; let j = index"
                    [value]="option.name" class="checkbox-option" [formControl]="contentForm.at(i).at(j)"
                    [disableControl]="taskParam.readOnly" fxFlex>
        {{option.description}}
      </mat-checkbox>
    </div>
    <div *ngIf="taskParam.htmlElement === 'textinput'" fxLayout="column">
      <span class="param-label" fxFlex>{{taskParam.name}}</span>
      <mat-form-field fxFlex *ngIf="!taskParam.readOnly">
        <input type="text" matInput [formControl]="contentForm.at(i)">
      </mat-form-field>
      <span class="padding-after" *ngIf="taskParam.readOnly">{{contentForm.at(i).value}}</span>
    </div>
    <div *ngIf="taskParam.htmlElement === 'datepicker'" fxLayout="column">
      <span class="param-label" fxFlex>{{taskParam.name}}</span>
      <datepicker [dateControl]="contentForm.at(i)" [autocompleteDates]="[]" [readonly]="taskParam.readOnly"
                  [class.padding-after]="taskParam.readOnly" fxFlex>
      </datepicker>
    </div>
    <div *ngIf="taskParam.htmlElement === 'select'" fxLayout="column">
      <span class="param-label" fxFlex>{{taskParam.name}}</span>
      <mat-form-field fxFlex>
        <mat-select [formControl]="contentForm.at(i)" [disableControl]="taskParam.readOnly">
          <mat-option *ngFor="let option of taskParam.constraints.enumerationOptions" [value]="option.name">
            {{option.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="taskParam.htmlElement === 'numberinput'" fxLayout="column">
      <span class="param-label" fxFlex>{{taskParam.name}}</span>
      <mat-form-field *ngIf="!taskParam.readOnly" fxFlex>
        <input type="number" matInput [formControl]="contentForm.at(i)">
      </mat-form-field>
      <span class="padding-after" *ngIf="taskParam.readOnly">{{contentForm.at(i).value}}</span>
    </div>
    <div *ngIf="taskParam.htmlElement === 'textarea'" fxLayout="column">
      <span class="param-label" fxFlex>{{taskParam.name}}</span>
      <mat-form-field *ngIf="!taskParam.readOnly" fxFlex>
        <textarea type="text" matInput [formControl]="contentForm.at(i)" rows="5">
        </textarea>
      </mat-form-field>
      <span class="padding-after" *ngIf="taskParam.readOnly">{{contentForm.at(i).value}}</span>
    </div>
    <div *ngIf="taskParam.htmlElement === 'linediagram'" class="padding-after" fxLayout="column">
      <span class="param-label" fxFlex>{{taskParam.name}}</span>
      <span *ngIf="!taskParam.chartIds || taskParam.chartIds.length == 0">Pending...</span>
      <div class="chart-wrapper" *ngFor="let chartId of taskParam.chartIds; let j = index" fxFlex>
        <span class="chart-label">{{taskParam.chartCaptions[j]}}</span>
        <div class="chart-container" [class.padding-after]="j < taskParam.chartIds.length - 1">
          <canvas [id]="chartId">{{(taskParam.charts && taskParam.charts.length > j) ? taskParam.charts[j] : ""}}
          </canvas>
        </div>
      </div>
    </div>
    <div *ngIf="taskParam.htmlElement === 'svg'" class="padding-after" fxLayout="column">
      <span class="param-label" fxFlex>{{taskParam.name}}</span>
      <div [innerHTML]="taskParam.values[0] | safeHtml" fxFlex></div>
    </div>
    <div *ngIf="taskParam.htmlElement === 'url'" class="padding-after" fxLayout="column">
      <span class="param-label" fxFlex>{{taskParam.name}}</span>
      <a target="_blank" [href]="taskParam.values[0]" fxFlex>Link</a>
    </div>
    <div *ngIf="taskParam.htmlElement === 'unsupported'" class="padding-after" fxLayout="column">
      <span class="param-label" fxFlex>{{taskParam.name}}</span>
      <span fxFlex>Error: Parameter type unsupported.</span>
    </div>
  </div>
</div>
