<div [formGroup]="contentForm">
  <div class="param-container" *ngFor="let taskParam of taskParams; let i = index">
    <div *ngIf="taskParam.htmlElement === 'radioboxes'">
      <mat-radio-group fxFlex [formControl]="contentForm.at(i)" [disableControl]="taskParam.readOnly">
        {{taskParam.name}}
        <mat-radio-button *ngFor="let option of taskParam.constraints.enumerationOptions" [value]="option.value"
                          class="radio-option">
          {{option.description}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div *ngIf="taskParam.htmlElement === 'checkboxes'">
      <div fxFlex>
        {{taskParam.name}}
        <mat-checkbox *ngFor="let option of taskParam.constraints.enumerationOptions; let j = index"
                      [value]="option.name" class="checkbox-option" [formControl]="contentForm.at(i).at(j)"
                      [disableControl]="taskParam.readOnly">
          {{option.description}}
        </mat-checkbox>
      </div>
    </div>
    <div *ngIf="taskParam.htmlElement === 'textinput'">
      <mat-form-field fxFlex>
        {{taskParam.name}}
        <input type="text" matInput [formControl]="contentForm.at(i)" [readonly]="taskParam.readOnly">
      </mat-form-field>
    </div>
    <div *ngIf="taskParam.htmlElement === 'datepicker'">
      {{taskParam.name}}
      <!-- TODO support readonly property for datepicker component -->
      <datepicker [dateControl]="contentForm.at(i)"
                  [autocompleteDates]="[]">
      </datepicker>
    </div>
    <div *ngIf="taskParam.htmlElement === 'select'">
      <mat-form-field fxFlex>
        <mat-select [placeholder]="taskParam.name" [formControl]="contentForm.at(i)" [disableControl]="taskParam.readOnly">
          <mat-option *ngFor="let option of taskParam.constraints.enumerationOptions" [value]="option.name">
            {{option.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="taskParam.htmlElement === 'numberinput'">
      <mat-form-field fxFlex>
        {{taskParam.name}}
        <input type="number" matInput [formControl]="contentForm.at(i)" [readonly]="taskParam.readOnly">
      </mat-form-field>
    </div>
    <div *ngIf="taskParam.htmlElement === 'textarea'">
      <mat-form-field>
        {{taskParam.name}}
        <textarea type="text" matInput [formControl]="contentForm.at(i)" [readonly]="taskParam.readOnly" rows="10">
        </textarea>
      </mat-form-field>
    </div>
  </div>
</div>
