<div [formGroup]="contentForm">
  <div class="param-container" *ngFor="let taskParam of taskParams; let i = index">
    <div *ngIf="taskParam.htmlElement === 'radioboxes'" fxLayout="column">
      <span class="param-label" fxFlex>{{taskParam.name}}</span>
      <mat-radio-group [formControl]="contentForm.at(i)" [disableControl]="taskParam.readOnly" fxFlex>
        <mat-radio-button *ngFor="let option of taskParam.constraints.enumerationOptions" [value]="option.value"
                          class="radio-option">
          {{option.description}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div *ngIf="taskParam.htmlElement === 'checkboxes'" fxLayout="column">
      <span class="param-label" fxFlex>{{taskParam.name}}</span>
      <mat-checkbox *ngFor="let option of taskParam.constraints.enumerationOptions; let j = index"
                    [value]="option.name" class="checkbox-option" [formControl]="contentForm.at(i).at(j)"
                    [disableControl]="taskParam.readOnly" fxFlex>
        {{option.description}}
      </mat-checkbox>
    </div>
    <div *ngIf="taskParam.htmlElement === 'textinput'" fxLayout="column">
      <span class="param-label" fxFlex>{{taskParam.name}}</span>
      <mat-form-field fxFlex>
        <input type="text" matInput [formControl]="contentForm.at(i)" [readonly]="taskParam.readOnly">
      </mat-form-field>
    </div>
    <div *ngIf="taskParam.htmlElement === 'datepicker'" fxLayout="column">
      <span class="param-label" fxFlex>{{taskParam.name}}</span>
      <datepicker [dateControl]="contentForm.at(i)" [autocompleteDates]="[]" [readonly]="taskParam.readOnly" fxFlex>
      </datepicker>
    </div>
    <div *ngIf="taskParam.htmlElement === 'select'" fxLayout="column">
      <span class="param-label" fxFlex>{{taskParam.name}}</span>
      <mat-form-field fxFlex>
        <mat-select placeholder="Select one" [formControl]="contentForm.at(i)"
                    [disableControl]="taskParam.readOnly">
          <mat-option *ngFor="let option of taskParam.constraints.enumerationOptions" [value]="option.name">
            {{option.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="taskParam.htmlElement === 'numberinput'" fxLayout="column">
      <span class="param-label" fxFlex>{{taskParam.name}}</span>
      <mat-form-field fxFlex>
        <input type="number" matInput [formControl]="contentForm.at(i)" [readonly]="taskParam.readOnly">
      </mat-form-field>
    </div>
    <div *ngIf="taskParam.htmlElement === 'textarea'" fxLayout="column">
      <span class="param-label" fxFlex>{{taskParam.name}}</span>
      <mat-form-field fxFlex>
        <textarea type="text" matInput [formControl]="contentForm.at(i)" [readonly]="taskParam.readOnly" rows="10">
        </textarea>
      </mat-form-field>
    </div>
    <div *ngIf="taskParam.htmlElement === 'svg'" fxLayout="column">
      <span class="param-label" fxFlex>{{taskParam.name}}</span>
      <div [innerHTML]="taskParam.values[0] | safeHtml" fxFlex></div>
    </div>
    <div *ngIf="taskParam.htmlElement === 'url'" fxLayout="column">
      <span class="param-label" fxFlex>{{taskParam.name}}</span>
      <a target="_blank" [href]="taskParam.values[0]" fxFlex>Link</a>
    </div>
    <div *ngIf="taskParam.htmlElement === 'unsupported'" fxLayout="column">
      <span class="param-label" fxFlex>{{taskParam.name}}</span>
      <span fxFlex>Error: Parameter type unsupported.</span>
    </div>
  </div>
</div>
