.radio-option,
.checkbox-option {
  padding-right: 8px;
}

.param-label {
  font-weight: bold;
}

.param-container ::ng-deep mat-form-field .mat-input-infix.mat-form-field-infix {
  border-width: 0;
}
