<div class="flex-container full-height" fxLayout="column">
  <top-navbar></top-navbar>
  <div *ngIf="noMailboxConnected" fxFlex fxLayoutAlign="center center">
    Please connect to a mailbox in &nbsp;<a routerLink="/settings/email">Settings</a>.
  </div>
  <div *ngIf="syncing">
    <spinner [loading]="true"></spinner>
  </div>
  <div [fxShow]="!syncing && !noMailboxConnected" fxLayout="row" fxFlex>
    <box-list fxFlex="15"
              (onRefresh)="onRefresh($event)"
              [lastSync]="user?.lastSync"
              [syncing]="updating"
              (onMoveEmailToBox)="moveEmailToBox($event)"
    >
    </box-list>
    <router-outlet fxFlex="0"></router-outlet>
  </div>
</div>
