:host {
  box-shadow: 3px 0px 1px -2px rgba(0,0,0,.2), 0 0 0 0 rgba(0,0,0,.0), 0 1px 5px 0 rgba(0,0,0,.12);
}

.connect-btn {
    padding: 8px;
    padding-bottom: 5px;
    background-color: #ec4b4e;
    color: white;
}