<mat-progress-bar color="accent" class="progressbar-top" *ngIf="sending" mode="indeterminate"></mat-progress-bar>
<div class="task-dialog-wrapper" fxFlex fxLayout="column">
  <div mat-dialog-title fxLayout="row">
    <mat-icon matTooltip="Overdue" *ngIf="overdue && !sticker_check && task.taskType == 'linked'"
              class="pointer alert-icon margin">add_alert
    </mat-icon>
    <mat-icon matTooltip="Completed" *ngIf="sticker_check && task.taskType == 'linked'"
              class="pointer check-icon margin">check
    </mat-icon>
    <span fxFlex>{{task.taskType == 'linked' ? 'Update Task' : 'Create Task'}}</span>
    <mat-icon (click)="closeDialog()" class="pointer">close</mat-icon>
  </div>

  <mat-dialog-content>

  </mat-dialog-content>
  <div>
    <form fxFlex fxLayout="column">
      <div fxLayout="row">
        <mat-form-field fxFlex>
          <input type="text" name="titleSelect" matInput [(ngModel)]="taskTitle" [matAutocomplete]="autocompleteTitle"
                 placeholder="Task Title" required>
          <mat-autocomplete #autocompleteTitle="matAutocomplete">
            <mat-option *ngFor="let title of filteredTitleSuggestions" [value]="title">{{title}}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div fxLayout="row">
        <mat-form-field fxFlex>
          <mat-select name="board-select" [(ngModel)]="selectedBoard" [disabled]="task.taskType == 'linked'"
                      required placeholder="Trello Board">
            <mat-option *ngFor="let board of boards" [value]="board">
              {{board.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="row" *ngIf="task.board">
        <mat-form-field fxFlex>
          <mat-select name="list-select" [(ngModel)]="task.list" [disabled]="task.taskType == 'linked'" required
                      placeholder="Trello List">
            <mat-option *ngFor="let list of task.board.lists" [value]="task.taskType == 'linked'? task.list : list">
              {{task.taskType == 'linked' ? task.list.name : list.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="row" *ngIf="task.board">
        <div fxLayoutAlign="start center" fxFlex>
          <mat-icon class="margin" [class.alert-icon]="overdue && !sticker_check && task.taskType == 'linked'"
                    fxFlex="5">
            date_range
          </mat-icon>
          <mat-form-field fxFlex>
            <input name="date" matInput placeholder="Due Date" [(ngModel)]="taskDate"
                   [matAutocomplete]="autocompleteDate">
            <mat-autocomplete #autocompleteDate="matAutocomplete">
              <mat-option *ngFor="let date of filteredDateSuggestions" [value]="date">{{date}}</mat-option>
            </mat-autocomplete>
            <input hidden name="datePicker" [(ngModel)]="taskDatePicker" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" *ngIf="task.board">
        <mat-icon class="margin offset-top-mat-icon" fxFlex="5">person</mat-icon>
        <mat-form-field fxFlex>
          <mat-select class="margin" placeholder="Assignees" [(ngModel)]="selectedMembers" name="member" fxFlex
                      multiple>
            <mat-optgroup label="Mentioned members" *ngIf="suggestedMembers && suggestedMembers.length > 0">
              <mat-option *ngFor="let member of suggestedMembers; let i = index" [value]="member"
                          (onSelect)="addMember(member, i)">
                {{member.fullName}}
              </mat-option>
            </mat-optgroup>
            <mat-optgroup label="Board members" *ngIf="nonSuggestedMembers && nonSuggestedMembers.length > 0">
              <mat-option *ngFor="let member of nonSuggestedMembers; let i = index" [value]="member">
                {{member.fullName}}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="row" *ngIf="task.board">
        <mat-form-field fxFlex>
          <textarea matInput type="text" class="text-area" name="task-description" placeholder="Task Description"
                    maxRows="10" [(ngModel)]="task.desc" value="task.desc" rows="10" fxFlex></textarea>
        </mat-form-field>
      </div>
    </form>
  </div>
  <mat-dialog-actions>
    <button mat-submit mat-raised-button color="primary" [disabled]="sending || !task.list" (click)="createTask()"
            *ngIf="task.taskType == 'suggested'">
      <i class="fas fa-plus margin"></i>Create Task
    </button>
    <button mat-submit mat-raised-button color="primary" [disabled]="sending" (click)="updateTask()"
            *ngIf="task.taskType == 'linked'">
      <i class="fas fa-check margin"></i>Update Task
    </button>
    <button mat-submit mat-raised-button color="primary" [disabled]="sending"
            *ngIf="task.status != 'empty' && task.taskType == 'linked'" (click)="updateTask('close')">
      <mat-icon class="margin">archive</mat-icon>
      Archive Task
    </button>
    <button mat-submit mat-raised-button color="warn" [disabled]="sending" (click)="unlinkTask()"
            *ngIf="task.taskType == 'linked'">
      <i class="fas fa-unlink margin"></i>Unlink Task
    </button>
  </mat-dialog-actions>
</div>
