<div fxFlex fxLayout="column">
  <div mat-dialog-title fxLayout="row">
    <span fxFlex>New Task</span>
    <mat-icon (click)="closeDialog()" class="pointer">close</mat-icon>
  </div>

  <mat-dialog-content class="new-task-dialog">
    <mat-accordion [multi]="true" displayMode="flat" class="new-task-panel">

      <form [formGroup]="intentGroup">
        <!-- title input -->
        <mat-form-field>
          <input matInput placeholder="Title" formControlName="title" required>
        </mat-form-field>
        <!-- provider input -->
        <mat-form-field>
          <mat-select formControlName="provider" required placeholder="Choose Provider">
            <mat-option value="TRELLO">Trello</mat-option>
            <mat-option value="SOCIOCORTEX">SACM</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- create/link input -->
        <mat-form-field>
          <mat-select formControlName="intendedAction" required placeholder="Choose Action">
            <mat-option value="CREATE">Create new</mat-option>
            <mat-option value="LINK">Link existing</mat-option>
          </mat-select>
        </mat-form-field>
      </form>

      <mat-expansion-panel [disabled]="intentGroup.status !== 'VALID'"
                           [expanded]="intentGroup.status === 'VALID'">
        <mat-expansion-panel-header expandedHeight="40px" collapsedHeight="40px">
          Context
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <form [formGroup]="contextGroup">
          <!-- TRELLO PROPERTIES -->
          <div *ngIf="intentGroup.controls.provider.value === 'TRELLO'">
            <ng-template>Choose Trello Board and List</ng-template>
            <!-- board input -->
            <mat-form-field>
              <mat-select formControlName="trelloBoard" required placeholder="Choose Board">
                <mat-option value="123456">Dummy Board</mat-option>
              </mat-select>
            </mat-form-field>
            <!-- list input -->
            <mat-form-field>
              <mat-select formControlName="trelloList" required placeholder="Choose List"
                          [disabled]="!contextGroup.controls.trelloBoard.value">
                <mat-option value="789123">Dummy List</mat-option>
              </mat-select>
            </mat-form-field>
            <!-- task input -->
            <mat-form-field *ngIf="intentGroup.controls.intendedAction.value === 'LINK'">
              <mat-select formControlName="trelloTask" required placeholder="Choose Task"
                          [disabled]="!contextGroup.controls.trelloList.value">
                <mat-option value="xzy-abc">Dummy task</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- SOCIOCORTEX PROPERTIES -->
          <div *ngIf="intentGroup.controls.provider.value === 'SOCIOCORTEX'">
            <!-- workspace input -->
            <mat-form-field>
              <mat-select formControlName="sociocortexWorkspace" required placeholder="Choose Workspace">
                <mat-option value="123">Dummy WS 1</mat-option>
                <mat-option value="456">Dummy WS 2</mat-option>
              </mat-select>
            </mat-form-field>
            <!-- case input -->
            <mat-form-field>
              <mat-select formControlName="sociocortexCase" required placeholder="Choose Case">
                <mat-option value="123456">Dummy Case</mat-option>
              </mat-select>
            </mat-form-field>
            <!-- task input -->
            <mat-form-field>
              <mat-select formControlName="sociocortexTask" required placeholder="Choose Task"
                          [disabled]="!contextGroup.controls.sociocortexCase.value">
                <mat-option value="789123">Dummy Task</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </form>
      </mat-expansion-panel>

      <mat-expansion-panel [disabled]="intentGroup.status !== 'VALID'">
        <mat-expansion-panel-header expandedHeight="40px" collapsedHeight="40px">
          Metadata
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <form [formGroup]="metadataGroup">
          <!-- due date input -->
          <mat-form-field>
            <mat-select formControlName="dueDate" required placeholder="Set a Due Date">
              <mat-option value="date">Dummy Date</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- assignee input -->
          <mat-form-field>
            <mat-select formControlName="assignees" required placeholder="Choose Assignees">
              <mat-option value="John Doe">Dummy Assignee</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- provider input -->
          <mat-form-field>
            <mat-select formControlName="provider3" required placeholder="Choose Provider">
              <mat-option value="trello">Trello</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- create/link input -->
          <mat-form-field>
            <mat-select formControlName="intendedAction3" required placeholder="Choose Action">
              <mat-option value="create">Create new</mat-option>
              <mat-option value="link">Link existing</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </mat-expansion-panel>

      <mat-expansion-panel
        [disabled]="intentGroup.status !== 'VALID' || intentGroup.controls.provider.value !== 'SOCIOCORTEX'">
        <mat-expansion-panel-header expandedHeight="40px" collapsedHeight="40px">
          Task Content
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <form [formGroup]="contentGroup">
          <ng-template>Choose Task Provider and Intended Action</ng-template>
          <!-- provider input -->
          <mat-form-field>
            <mat-select formControlName="provider4" required placeholder="Choose Provider">
              <mat-option value="trello">Trello</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- create/link input -->
          <mat-form-field>
            <mat-select formControlName="intendedAction4" required placeholder="Choose Action">
              <mat-option value="create">Create new</mat-option>
              <mat-option value="link">Link existing</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </mat-expansion-panel>

      <button mat-raised-button color="accent">Confirm</button>

    </mat-accordion>
  </mat-dialog-content>
</div>
