<div fxFlex fxLayout="column">
  <div mat-dialog-title fxLayout="row">
    <span fxFlex>New Task</span>
    <mat-icon (click)="closeDialog()" class="pointer">close</mat-icon>
  </div>

  <mat-dialog-content class="new-task-dialog">
    <mat-vertical-stepper [linear]="true">
      <mat-step [stepControl]="providerSelectionGroup">
        <form [formGroup]="providerSelectionGroup">
          <ng-template matStepLabel>Choose Task Provider and Intended Action</ng-template>
          <!-- provider input -->
          <mat-form-field>
            <mat-select formControlName="provider" required placeholder="Choose Provider">
              <mat-option value="trello">Trello</mat-option>
              <mat-option value="sacm">SACM</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- create/link input -->
          <mat-form-field>
            <mat-select formControlName="intendedAction" required placeholder="Choose Action">
              <mat-option value="create">Create new</mat-option>
              <mat-option value="link">Link existing</mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="parentSelectionGroup">
        <form [formGroup]="parentSelectionGroup">
          <ng-template matStepLabel>Choose parent structure</ng-template>
          <mat-form-field>
            <input matInput placeholder="Dummy" formControlName="secondCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="primaryDataInputGroup">
        <form [formGroup]="primaryDataInputGroup">
          <ng-template matStepLabel>Enter primary data</ng-template>
          <mat-form-field>
            <input matInput placeholder="Title" formControlName="title" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="additionalDataInputGroup" [optional]="true">
        <form [formGroup]="additionalDataInputGroup">
          <ng-template matStepLabel>Enter additional data</ng-template>
          <mat-form-field>
            <input matInput placeholder="Dummy" formControlName="secondCtrl">
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Confirm</ng-template>
        <span>Preview of the new task:</span>
        <div class="task-preview">
          <task-item [task]="task"></task-item>
        </div>
        <div fxLayout="row" fxLayoutAlign="start">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
          <button mat-button color="accent" style="margin-left: auto">Confirm</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-dialog-content>
</div>
