<div fxFlex fxLayout="column">
  <div mat-dialog-title fxLayout="row">
    <span fxFlex>New Task</span>
    <mat-icon (click)="closeDialog()" class="pointer">close</mat-icon>
  </div>

  <mat-dialog-content class="new-task-dialog">
    <mat-accordion [multi]="true" displayMode="flat" class="new-task-panel">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div formGroupName="intent">
          <!-- title input -->
          <mat-form-field>
            <input type="text" formControlName="title" matInput [matAutocomplete]="autocompleteTitle"
                   placeholder="Task Title" required>
            <mat-autocomplete #autocompleteTitle="matAutocomplete">
              <mat-option *ngFor="let title of autocomplete.titles.filtered" [value]="title">{{title}}</mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <!-- provider input -->
          <mat-form-field>
            <mat-select formControlName="provider" required placeholder="Choose Provider"
                        (selectionChange)="onProviderSelect($event.value)">
              <mat-option value="TRELLO">Trello</mat-option>
              <mat-option value="SOCIOCORTEX">SACM</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- create/link input -->
          <mat-form-field>
            <mat-select formControlName="intendedAction" required placeholder="Choose Action">
              <mat-option value="CREATE">Create new</mat-option>
              <mat-option value="LINK">Link existing</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-expansion-panel [disabled]="form.controls.intent.status !== 'VALID'"
                             [expanded]="form.controls.intent.status === 'VALID'">
          <mat-expansion-panel-header expandedHeight="40px" collapsedHeight="40px">
            Context
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <div formGroupName="context">
            <!-- TRELLO PROPERTIES -->
            <div *ngIf="!form.controls.intent.errors && form.controls.intent.controls.provider.value === 'TRELLO'">
              <!-- board input -->
              <mat-form-field>
                <mat-select formControlName="trelloBoard" required placeholder="Trello Board"
                            (selectionChange)="onBoardSelect($event.value)">
                  <mat-option *ngFor="let board of autocomplete.trelloBoards" [value]="board.id">
                    {{board.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <!-- list input -->
              <mat-form-field>
                <mat-select formControlName="trelloList" required placeholder="Trello List"
                            [disableControl]="!form.controls.context.controls.trelloBoard.value"
                            (selectionChange)="onListSelect($event.value)">
                  <mat-option *ngFor="let list of autocomplete.trelloLists.relevant" [value]="list.id">
                    {{list.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <!-- task input -->
              <mat-form-field *ngIf="form.controls.intent.controls.intendedAction.value === 'LINK'">
                <mat-select formControlName="trelloTask" required placeholder="Trello Task"
                            [disableControl]="!form.controls.context.controls.trelloList.value"
                            (selectionChange)="onTaskSelect($event.value)">
                  <mat-option *ngFor="let task of autocomplete.trelloTasks.relevant" [value]="task.id">
                    {{task.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- SOCIOCORTEX PROPERTIES -->
            <div *ngIf="form.controls.intent.controls.provider.value === 'SOCIOCORTEX'">
              <!-- workspace input -->
              <mat-form-field>
                <mat-select formControlName="sociocortexWorkspace" required placeholder="SACM Workspace"
                            (selectionChange)="onWorkspaceSelect($event.value)">
                  <mat-option *ngFor="let workspace of autocomplete.sociocortexWorkspaces" [value]="workspace.id">
                    {{workspace.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <!-- case input -->
              <mat-form-field>
                <mat-select formControlName="sociocortexCase" required placeholder="SACM Case"
                            [disableControl]="!form.controls.context.controls.sociocortexWorkspaces.value"
                            (selectionChange)="onCaseSelect($event.value)">
                  <mat-option *ngFor="let sacmCase of autocomplete.sociocortexCases.relevant" [value]="sacmCase.id">
                    {{sacmCase.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <!-- task input -->
              <mat-form-field>
                <mat-select formControlName="sociocortexTask" required placeholder="SACM Task"
                            [disableControl]="!form.controls.context.controls.sociocortexCase.value">
                  <mat-option *ngFor="let task of autocomplete.sociocortexTasks.relevant" [value]="task.id">
                    {{task.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel
          [disabled]="form.controls.intent.status !== 'VALID'
        || (form.controls.intent.controls.intendedAction.value === 'LINK' && form.controls.context.status !== 'VALID')">
          <mat-expansion-panel-header expandedHeight="40px" collapsedHeight="40px">
            Metadata
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <div formGroupName="metadata">
            <!-- due date input -->
            <mat-form-field>
              <input name="date" matInput placeholder="Due Date" formControlName="dueDate"
                     [matAutocomplete]="autocompleteDate">
              <mat-autocomplete #autocompleteDate="matAutocomplete">
                <mat-option *ngFor="let date of autocomplete.dates.filtered" [value]="date">{{date}}</mat-option>
              </mat-autocomplete>
              <input hidden name="datePicker" formControlName="dueDateUnformatted" [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <!-- Trello assignee input -->
            <mat-form-field *ngIf="form.controls.intent.controls.provider.value === 'TRELLO'">
              <mat-select class="margin" placeholder="Assignees" formControlName="assignees" name="member" fxFlex
                          multiple>
                <mat-optgroup label="Mentioned members" *ngIf="autocomplete.assignees.suggested.length > 0">
                  <mat-option *ngFor="let member of autocomplete.assignees.suggested" [value]="member.id">
                    {{member.fullName}}
                  </mat-option>
                </mat-optgroup>
                <mat-optgroup label="Board members" *ngIf="autocomplete.assignees.other.length > 0">
                  <mat-option *ngFor="let member of autocomplete.assignees.other" [value]="member.id">
                    {{member.fullName}}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
            </mat-form-field>
            <!-- Sociocortex owner input -->
            <mat-form-field *ngIf="form.controls.intent.controls.provider.value === 'SOCIOCORTEX'">
              <mat-select class="margin" placeholder="Owner" formControlName="assignees" name="member" fxFlex multiple>
                <mat-optgroup label="Mentioned persons" *ngIf="autocomplete.owner.suggested.length > 0">
                  <mat-option *ngFor="let member of autocomplete.owner.suggested" [value]="member.id">
                    {{member.fullName}}
                  </mat-option>
                </mat-optgroup>
                <mat-optgroup label="Workspace members" *ngIf="autocomplete.owner.other.length > 0">
                  <mat-option *ngFor="let member of autocomplete.owner.other" [value]="member.id">
                    {{member.fullName}}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel
          [disabled]="form.controls.intent.status !== 'VALID'
        || (form.controls.intent.controls.intendedAction.value === 'LINK' && form.controls.context.status !== 'VALID')">
          <mat-expansion-panel-header expandedHeight="40px" collapsedHeight="40px">
            Task Content
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <task-content-trello *ngIf="form.controls.intent.controls.provider.value === 'TRELLO'"
                               formGroupName="trelloContent">
          </task-content-trello>
          <task-content-sociocortex *ngIf="form.controls.intent.controls.provider.value === 'SOCIOCORTEX'"
                                    formGroupName="sociocortexContent">
          </task-content-sociocortex>
        </mat-expansion-panel>

        <button type="submit" [disabled]="form.status !== 'VALID' || submitted" mat-raised-button color="accent">
          <span>Confirm</span>
          <!--<mat-spinner [diameter]="30" [strokeWidth]="4"></mat-spinner>-->
        </button>

      </form>
    </mat-accordion>
  </mat-dialog-content>
</div>
