<div layout="row">
  <div flex="15"></div>
  <div flex="70">
    <div class="row profile">
      <div layout="row">
        <div flex="25">
          <div class="profile-sidebar">
            <div class="profile-usertitle">
              <div class="profile-usertitle-name">
                Peter Niedermeier
              </div>
              <div class="profile-usertitle-job">
                M.Sc. Information Systems
              </div>
              <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>
            </div>
            <div class="profile-usermenu">
              <ul class="nav">
                <li class="{{getActive('Overview')}}">
                  <a (click)="showView('Overview')">
                    <i class="glyphicon glyphicon-home"></i>
                    Overview
                  </a>
                </li>
                <li class="{{getActive('Account')}}">
                  <a (click)="showView('Account')">
                    <i class="glyphicon glyphicon-user"></i>
                    Account Settings
                  </a>
                </li>
                <li class="{{getActive('Tasks')}}">
                  <a (click)="showView('Tasks')">
                    <i class="glyphicon glyphicon-ok"></i>
                    Tasks
                  </a>
                </li>
                <li class="{{getActive('Help')}}">
                  <a (click)="showView('Help')">
                    <i class="glyphicon glyphicon-flag"></i>
                    Help
                  </a>
                </li>
                <li >
                  <a href="#">
                    <i class="glyphicon glyphicon-th-list"></i>
                    Back to Home
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div flex="75">
          <div class="profile-content">
            <!-- Overview -->
            <overview *ngIf="getCurrentView('Overview')"></overview>
            <!-- Account Settings -->
            <account *ngIf="getCurrentView('Account')"></account>
            <!-- Tasks -->
            <tasks *ngIf="getCurrentView('Tasks')"></tasks>
            <!-- Help -->
            <help *ngIf="getCurrentView('Help')"></help>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div flex="15"></div>
</div>
