<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <a class="btn btn-block btn-social btn-google" href="http://localhost:4000/api/auth/trello">
            <span class="fa fa-trello"></span> Connect to Trello
          </a>
        </form><!-- /form -->
    </div>
</div>
