<div fxFlex fxLayout="column">
  <div class="task-action-top-bar" fxLayoutAlign="center center">
    <button mat-raised-button color="primary" [matMenuTriggerFor]="createTask" matTooltip="Create or link Task">
        <span>Task Actions</span>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    <mat-menu #createTask="matMenu">
      <button mat-menu-item (click)="openDialogTask()">
      <mat-icon>edit</mat-icon>
      <span>Create empty task</span>
    </button>
      <button mat-menu-item (click)="openDialogLinkedTask()">
      <mat-icon>link</mat-icon>
      <span>Link existing task</span>
    </button>
    </mat-menu>
  </div>
</div>
