.task {
  border-bottom: 1px solid lightgray;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
}

.task > div,
.task > div > div {
  width: 100%;
}

.member-initials {
  background-color: lightgrey;
  height: 24px;
  min-width: 25px;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  padding: 2px;
  border-radius: 4px;
  margin-right: 2px;
}

.member-initials mat-icon {
  color: #ec4b4e;
}

.overdue {
  color: #ce2424;
}

.overdue-text {
  font-weight: bold;
  color: #ce2424;
}

.icon-margin {
  margin-left: 10px;
}

.task-description {
  padding-top: 4px;
}

.task-title {
  padding-bottom: 4px;
}

.task-title .icon {
  height: 16px;
  padding-bottom: 4px;
  margin-bottom: -2px;
  margin-left: 4px;
}

.date-icon {
  margin-left: -2px;
}

.light-text {
  color: #bbbbbb;
}

.light-icon {
  color: rgba(0, 0, 0, 0.24);
}

.light-initials {
  background-color: rgba(211, 211, 211, 0.6);
}

.date-container {
  min-width: 100px;
}

.label-suggestion {
  font-style: italic;
}

.task.suggested .task-title img {
  filter: grayscale(100%) brightness(200%);
}
