<div class="task" [class.suggested]="isSuggestion">
  <div fxFlex fxLayout="column">
    <div fxFlex="50" fxLayout="row" class="task-title">
      <div class="text-overflow">
        <strong *ngIf="isSuggestion" class="label-suggestion light-text">{{title}}</strong>
        <strong *ngIf="!isSuggestion">{{title}}</strong>
        <img *ngIf="provider === 'trello'" src="assets/img/tasks/trello-logo.svg" class="icon"/>
        <img *ngIf="provider === 'sociocortex'" src="assets/img/tasks/sociocortex-logo.svg" class="icon"/>
      </div>
    </div>
    <div  fxFlex-gt-sm="50" fxLayout="row" fxLayoutAlign="start center">
      <div fxLayoutAlign="start center" class="date-container">
        <mat-icon fxFlex-gt-sm="8" [class.overdue]="isOverdue()" class="date-icon" [class.light-icon]="isSuggestion">date_range</mat-icon>
        <div fxFlex-gt-sm="27" [class.light-text]="isSuggestion" [class.overdue-text]="isOverdue() && !isSuggestion" *ngIf="dueDate">{{dueDate}}</div>
        <div fxFlex-gt-sm="27" [class.light-text]="isSuggestion" [class.overdue-text]="isOverdue() && !isSuggestion" *ngIf="!dueDate"><i>No due date</i></div>
      </div>
      <mat-icon class="icon-margin" fxFlex-gt-sm="8" [class.light-icon]="isSuggestion">person</mat-icon>
      <div fxFlex-gt-sm="53" fxLayout="row">
        <div *ngFor="let member of members" [title]="member.fullName" fxLayout="row" fxLayoutAlign="center center" class="member-initials" [class.light-initials]="isSuggestion">
          <span [class.light-text]="isSuggestion">{{member.initials}}</span>
        </div>
        <div *ngIf="members.length < 1" [class.light-text]="isSuggestion"><i>Unassigned</i></div>
      </div>
    </div>
  </div>
</div>
