.task {
  border-bottom: 1px solid lightgray;
  padding: 5px 5px 5px 10px;
  cursor: pointer;
  font-size: 14px;
}

.task > div,
.task > div > div {
  width: 100%;
}

.metadata {
  text-align: center;
}

.member-initials {
  background-color: #efefef;
  height: 16px;
  min-width: 18px;
  line-height: 16px;
  text-align: center;
  padding: 2px;
  border-radius: 4px;
  margin-right: 2px;
}

.member-initials mat-icon {
  color: #ec4b4e;
}

.overdue {
  color: #ce2424;
}

.overdue-text {
  font-weight: bold;
  color: #ce2424;
}

.task-description {
  padding-top: 4px;
}

.task-title {
  padding-bottom: 4px;
}

.task-title .icon {
  height: 16px;
  padding-bottom: 4px;
  margin-bottom: -2px;
}

.task.suggested .task-title img {
  filter: grayscale(100%) brightness(200%);
}

.task.suggested .task-title img.connecare {
  filter: grayscale(100%) brightness(300%);
}

.label-suggestion {
  font-style: italic;
}

.light-text {
  color: #bbbbbb;
}

.light-icon {
  color: rgba(0, 0, 0, 0.24);
}

.light-initials {
  background-color: rgba(211, 211, 211, 0.6);
}

.date-container * {
  font-size: 12px;
}

.assignee-container * {
  font-size: 12px;
}

.assignee-container span {
  font-size: 10px;
}

.metadata ::ng-deep mat-icon {
  height: fit-content;
  width: fit-content;
}
