.padding {
    padding: 8px;
    padding-top: 0px;
}

.tasks {
    padding: 8px;
}

.selectList {
    margin-top: 15px;
}

.margin {
    margin-bottom: -5px;
}

.pointer {
    cursor: pointer;
}

.card-title {
    margin-bottom: 5px;
}

.cardContent {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-top: -5px;
    margin-bottom: -10px;
}

.member-initials {
    background-color: lightgrey;
    height: 24px;
    min-width: 25px;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    padding: 2px;
    border-radius: 4px;
    margin-right: 2px;
}

.member-initials md-icon {
    color: #ec4b4e;
}

.header-image {
    background-image: url('/assets/img/trello.gif');
    background-size: cover;
    min-height: 20px;
    min-width: 30px;
    height: 20px;
    width: 30px;
}

.close-icon {
    top: 5px;
    position: absolute;
    right: 5px;
}

.highlighted {
    /* border: 3px solid #444c62;*/
    background-color: #e4e4e4;
}

.alert-icon {
    top: 5px;
    position: absolute;
    right: 30px;
    color: #ce2424;
}

.member-initials {
    background-color: lightgrey;
    height: 24px;
    min-width: 25px;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    padding: 2px;
    border-radius: 4px;
    margin-right: 2px;
}

.linked {
    border-left: 5px solid #444C62;
    margin-bottom: 5px;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(90, 83, 83, 0.75);
    -moz-box-shadow: 1px 1px 1px 0px rgba(90, 83, 83, 0.75);
    box-shadow: 1px 1px 1px 0px rgba(90, 83, 83, 0.75);
    cursor: pointer;
}

.overdue {
    border-bottom: 1px solid #ce2424;
    border-top: 1px solid #ce2424;
    border-right: 1px solid #ce2424;
}

.overdue-text {
    font-weight: bold;
    color: #ce2424;
}

.check-icon {
    color: #21C9A1;
    font-size: 30px;
    top: 3px;
    position: absolute;
    right: 30px;
}

.sticker_check {
    border: 1px solid #21C9A1;
}

.suggested {
    border-left: 5px solid #20c9a1;
    margin-bottom: 5px;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(90, 83, 83, 0.75);
    -moz-box-shadow: 1px 1px 1px 0px rgba(90, 83, 83, 0.75);
    box-shadow: 1px 1px 1px 0px rgba(90, 83, 83, 0.75);
    cursor: pointer;
}

.icon-margin {
    margin-left: 10px;
}