<div class="flex-container full-height" fxLayout.gt-sm="row" fxLayout="column">
  <div fxFlex fxHide="false" fxHide.sm fxHide.xs id="login-wallpaper"></div>
  <div fxFlex fxFlex.gt-sm="30" fxLayout="column" fxLayoutAlign="space-between stretch">
    <div fxFlex="0 1 20" fxLayoutAlign="center center">
      <span class="pointer" id="logo"></span>
    </div>
    <div fxFlex="1 1 60" fxLayout="row" fxLayoutAlign="center stretch">

      <mat-tab-group fxFlex="70" fxLayout="column" fxLayoutAlign="start stretch">

        <mat-tab fxFlex fxLayout="column" fxLayoutAlign="start stretch"
                label="Log in">

          <mat-card class="login-box">
            <div fxFlex fxLayout="column" fxLayoutAlign="center stretch">

              <div fxFlex fxLayout="column" fxLayoutAlign="center stretch">
                <a mat-raised-button [href]="googleLoginLink">
                  <mat-icon svgIcon="google"></mat-icon>
                 Log in with Google Account
                </a>
              </div>
              <div fxFlex fxLayout="column" fxLayoutAlign="center stretch">
                <a mat-raised-button [href]="googleLoginLink">
                  <mat-icon svgIcon="exchange"></mat-icon>
                  Log in with Exchange Account
                </a>
              </div>

              <div class="separator separator_login_page" fxFlex="5" fxLayout="row" fxLayoutAlign="center center">
                <div class="middle_separator">or</div>
              </div>

              <div fxFlex fxLayout="row" fxLayoutAlign="start stretch">
                <mat-input-container fxFlex fxLayout="column" fxFlexAlign="center stretch">
                  <input matInput placeholder="Username" type="text" name="username" [(ngModel)]="model.username"
                         autofocus
                         required>
                </mat-input-container>
              </div>
              <div fxFlex fxLayout="row" fxLayoutAlign="start stretch">
                <mat-input-container fxFlex fxLayout="column" fxFlexAlign="center stretch">
                  <input matInput placeholder="Password" type="password" name="password" [(ngModel)]="model.password"
                         required>
                </mat-input-container>
              </div>
              <div fxFlex fxLayout="column" fxLayoutAlign="center stretch">
                <button mat-raised-button color="primary" [disabled]="loading" (click)="login()">Log in</button>
              </div>
            </div>
          </mat-card>

        </mat-tab>
        <mat-tab fxFlex fxLayout="column" fxLayoutAlign="start stretch"
                label="Sign up">

          <mat-card class="login-box">
            <div fxFlex fxLayout="column" fxLayoutAlign="center stretch">

              <div fxFlex fxLayout="column" fxLayoutAlign="center stretch">
                <a mat-raised-button [href]="googleLoginLink">
                  <mat-icon svgIcon="google"></mat-icon>
                  Sign up with Google Account
                </a>
              </div>

              <div fxFlex fxLayout="column" fxLayoutAlign="center stretch">
                <a mat-raised-button [href]="googleLoginLink">
                  <mat-icon svgIcon="exchange"></mat-icon>
                  Log in with Exchange Account
                </a>
              </div>

              <div class="separator separator_login_page" fxFlex="5" fxLayout="row" fxLayoutAlign="center center">
                <div class="middle_separator">or</div>
              </div>

              <div fxFlex fxLayout="row" fxLayoutAlign="start stretch">
                <mat-input-container fxFlex fxLayout="column" fxFlexAlign="center stretch">
                  <input matInput placeholder="Username" type="text" name="username" [(ngModel)]="model.username"
                         autofocus
                         required>
                </mat-input-container>
              </div>
              <div fxFlex fxLayout="row" fxLayoutAlign="start stretch">
                <mat-input-container fxFlex fxLayout="column" fxFlexAlign="center stretch">
                  <input matInput placeholder="Password" type="password" name="password" [(ngModel)]="model.password"
                         required>
                </mat-input-container>
              </div>
              <div fxFlex fxLayout="column" fxLayoutAlign="center stretch">
                <button mat-raised-button color="primary" [disabled]="loading" (click)="signup()">Create My Account</button>
              </div>
            </div>
          </mat-card>

        </mat-tab>
      </mat-tab-group>

    </div>

    <div fxFlex="10" fxLayoutAlign="center center">
      <span class="copyrights">&copy; 2017 Sebis</span>
    </div>
  </div>
</div>
