<div flex>
    <div flex class="card card-container">
        <img id="account-img" class="account-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="account-name" class="account-name-card"></p>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="text" name="username" [(ngModel)]="model.username" #username="ngModel" class="form-control" placeholder="Username" required autofocus>
            <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" class="form-control" placeholder="Password" required>
            <button [disabled]="loading" class="btn btn-lg btn-primary btn-block btn-signin" (click)="login()" type="submit">Sign in</button>
            <a class="btn btn-block btn-social btn-google" href="http://localhost:4000/api/auth/google">
            <span class="fa fa-google"></span> Sign in with Google
          </a>
        </form>
    </div>
</div>
