@import '../../styles/_variables.scss';

#login-wallpaper {
    background-color: $primary;
    background-image: url("/assets/img/login-background.jpeg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#logo {
    margin: 60px 0px 0px 0px;
    padding: 0;
    width: 301px;
    height: 77px;
    background-size: 301px 77px;
    background-repeat: no-repeat;
    background-image: url("/assets/img/taskBlack.png");
}

.copyrights {
    color: $primary;
    margin-bottom: 20px;
    font-size: small;
}
