#login-wallpaper {
    background-color: #496DDB;
    background-image: url("/assets/img/login-background.jpeg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.copyrights {
    color: gray;
    margin-bottom: 20px;
    font-size: small;
}
