<div fxLayout="column" class="full-height navbar-list">
  <div fxLayout="row" class="create-email" fxLayoutAlign="center center">
    <button
      mat-raised-button color="accent" class="create-email-btn"
      (click)="createNewEmail()"
    >
      <mat-icon>create</mat-icon>
      <span>New Email</span>
    </button>
  </div>
  <div fxFlex class="sidenav-boxes scrollable">
    <mat-nav-list>
      <box-list-item [item]="item" *ngFor="let item of navbarItems"
                     (onMoveEmailToBox)="moveEmailToBox($event)"
                     (onRenameBox)="renameBox($event)"
                     (onMoveBox)="moveBox($event)"
      ></box-list-item>
    </mat-nav-list>
    <div fxLayoutAlign="start center">
      <button fxFlex mat-button fxLayout="row" fxLayoutAlign="start start" class="manage-folders"
              (click)="openEmailFolderDialog()"
      >
        Manage Folders
      </button>
    </div>
  </div>
  <div fxLayoutAlign="center center">
    <button fxShow.gt-mat mat-button fxFlex class="refresh-btn"
            (click)="refresh()"
            fxLayoutAlign="center center"
    >
      Synced:
      <small>{{lastSync | date:'short'}}</small>
      <mat-icon [class.rotate-icon]="syncing" class="mat-24">sync</mat-icon>
    </button>
  </div>
</div>
