$primary: #444c62;
$light-grey-bg: #f7f7f7;
$light-green-accent: #20c9a1;
$red-warn: #ce2424;

$light-blue: #f2f6fa;
$dark-blue: (
    50 : #e9eaec,
    100 : #c7c9d0,
    200 : #a2a6b1,
    300 : #7c8291,
    400 : #60677a,
    500 : #444c62,
    600 : #3e455a,
    700 : #353c50,
    800 : #2d3346,
    900 : #1f2434,
    A100 : #7b97ff,
    A200 : #486fff,
    A400 : #1546ff,
    A700 : #0035fb,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
$darker-blue: #2f3649;
$light-green: (
    50 : #e4f9f4,
    100 : #bcefe3,
    200 : #90e4d0,
    300 : #63d9bd,
    400 : #41d1af,
    500 : #20c9a1,
    600 : #1cc399,
    700 : #18bc8f,
    800 : #13b585,
    900 : #0ba974,
    A100 : #d6fff0,
    A200 : #a3ffdd,
    A400 : #70ffca,
    A700 : #57ffc1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$light-gray-font: #d7e3ef;
$red: (
    50 : #f9e5e5,
    100 : #f0bdbd,
    200 : #e79292,
    300 : #dd6666,
    400 : #d54545,
    500 : #ce2424,
    600 : #c92020,
    700 : #c21b1b,
    800 : #bc1616,
    900 : #b00d0d,
    A100 : #ffdede,
    A200 : #ffabab,
    A400 : #ff7878,
    A700 : #ff5e5e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);