.translate {
  font-size: 14px !important;
  text-align: justify;
  padding: 10px;
  padding-top: 5px;
  overflow-y: auto;
}

.translate .block {
  margin-bottom: 15px;
}

.translate .block .source {
  font-weight: bold;
}

.translate .block .target {
  margin-left: 20px;
}
