.translate {
  font-size: 14px !important;
  text-align: justify;
  padding-top: 5px;
  overflow-y: auto;
}

.translation-container {
  padding-bottom: 10px;
}

.translation-source-container {
  background-color: #F8F8F8;
  padding: 5px;
}

.translation-source-icon {
  height: 16px;
  width: 16px;
}

.translation-source {
  font-weight: bold;
  padding-left: 1px;
}

.divider-icon-container {
  height: 10px;
}

.divider-icon {
  height: 100%;
  width: 48px;
}

.translation-target-container {
  height: 20px;
}

.translation-target-icon {
  height: 20px;
  width: 48px;
}

.translation-target {
  font-size: 12px;
}

.padding-left {
  padding-left: 10px;
}

.padding-right {
  padding-right: 5px;
}
