:host {
  height: 100vh;
  width: 100%;
  max-width: 100%;
}

.radio-container {
  margin: 0 0 8px 0;
  padding: 0 0 16px 0;
}

md-radio-button {
  margin: 8px;
}

md-card {
  min-height: 100%;
  overflow-y: scroll;
}

md-input-container {
  min-width: 400px;
}

.mat-card-title {
  font-size: 24px;
  font-weight: 400;
}
