<ul flex class="nav nav-tabs">
  <li role="presentation" class="{{getActive('Gmail')}}">
    <a class="pointer" (click)="showView('Gmail')">Gmail</a>
  </li>
  <li role="presentation" class="{{getActive('Exchange')}}">
    <a class="pointer" (click)="showView('Exchange')">Exchange</a>
  </li>
</ul>

<div class="row"></div>

<email-config (updateGmailConfig)="updateGmailConfig($event)" [gmailConfig]="gmailConfig"
flex *ngIf="getCurrentView('Gmail')"></email-config>
<exchange flex *ngIf="getCurrentView('Exchange')"></exchange>
