<md-card fxFlex>
  <md-card-title>Email Provider Configuration</md-card-title>
  <form novalidate>
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="start center" class="radio-container">
        <div>Provider:</div>
        <md-radio-group name="radio1" [(ngModel)]="emailConfig.name">
        <md-radio-button value="Gmail">Gmail</md-radio-button>
        <md-radio-button value="Exchange">Exchange</md-radio-button>
      </md-radio-group>
      </div>
      <md-input-container>
          <input md-input placeholder="Email Address" type="email" name="email" [(ngModel)]="emailConfig.user" autofocus required>
      </md-input-container>
      <md-input-container>
          <input md-input placeholder="Password" type="password" name="password" [(ngModel)]="emailConfig.password" required>
      </md-input-container>
      <md-input-container>
          <input md-input placeholder="Host" type="text" name="host" [(ngModel)]="emailConfig.host" required>
      </md-input-container>
      <md-input-container>
          <input md-input placeholder="Port" type="number" name="port" [(ngModel)]="emailConfig.port" required>
      </md-input-container>
      <md-input-container>
          <input md-input placeholder="SMTP Host" type="text" name="smtphost" [(ngModel)]="emailConfig.smtpHost" required>
      </md-input-container>
      <md-input-container>
          <input md-input placeholder="SMTP Port" type="number" name="smtpport" [(ngModel)]="emailConfig.smtpPort" required>
      </md-input-container>
      <md-input-container>
          <input md-input #inputSmtpDomains (keyup.enter)="addDomain(inputSmtpDomains)" (change)="addDomain(inputSmtpDomains)"  type="text" placeholder="SMTP Domains:" required/>
          <md-chip-list>
            <md-chip *ngFor="let domain of emailConfig.smtpDomains; let i = index">
              <div fxLayout="row" fxLayoutAlign="start center">
                <span>{{domain}}</span>
                <md-icon class="pointer" (click)="deleteDomain(i)">close</md-icon>
              </div>
            </md-chip>
          </md-chip-list>
      </md-input-container>
    </div>
      <button md-raised-button color="primary" (click)="updateEmailConfig()">Save Configuration</button>
  </form>
</md-card>
