<div fxFlex fxLayout="column" fxLayoutAlign="start stretch">
  <div fxFlex="20" mat-dialog-title fxLayout="row" fxLayoutAlign="space-between stretch">
    <mat-card-title>Create new box</mat-card-title>
    <mat-icon class="pointer" (click)="closeDialog()">close</mat-icon>
  </div>

  <div fxFlex="60" fxLayout="column" fxLayoutAlign="space-between stretch">
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-input-container fxFlex>
        <input fxFlex matInput placeholder="Name of new box..." type="text" [(ngModel)]="newBoxName">
      </mat-input-container>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" *ngIf="newBoxName != ''" >
      <mat-form-field fxFlex>
        <mat-select fxFlex
                    [(value)]="parentBox"
                    placeholder="Nest under...">
          <mat-option fxFlex *ngFor="let box of boxList; let b = index" [value]="box.shortName">
            <span [style.padding-left]="addPadding(box)"> {{ box.shortName }} </span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
    <button
      [disabled]="newBoxName === '' || updating" mat-raised-button color="primary"
      (click)="onAddBox()">Add Box
    </button>
  </div>

</div>
