.annotator-custom-reset.annotator-adder {
  /* Reset default framework styling */
  /*background-image: none;*/
  /* Set position */
  margin-top: -48px;
  margin-left: -24px;
  width: 48px;
  height: 48px;
}

.annotator-custom-reset.annotator-adder button {
  /* Reset default framework styling */
  margin-top: 0;
  margin-left: 0;
  width: 0;
  height: 0;
  background-image: none;
  text-indent: 0;
}

.annotator-custom-reset.annotator-viewer .annotator-controls {
  /* Hide edit/delete controls when viewing annotations */
  display: none;
}

.annotator-custom-container {

}
