<form flex>
  <div flex layout="column">
    <div flex layout="row" layout-align="start center" class="form-group" [class.has-error]="!trelloConfig.trelloId" [class.has-success]="trelloConfig.trelloId">
      <label flex="15">Trello ID:</label>
      <input flex="45" name="appName" type="text" class="form-control" [(ngModel)]="trelloConfig.trelloId" placeholder="trelloId" disabled="true">
    </div>
    <div flex layout="row" layout-align="start center" class="form-group" [class.has-error]="!trelloConfig.trelloAccessToken" [class.has-success]="trelloConfig.trelloAccessToken">
      <label flex="15">Access Token:</label>
      <input flex="45" name="accessToken" type="text" class="form-control" [(ngModel)]="trelloConfig.trelloAccessToken" placeholder="AccessToken" disabled="true">
    </div>
    <div flex layout="row" layout-align="start center" class="form-group" [class.has-error]="!trelloConfig.trelloAccessTokenSecret" [class.has-success]="trelloConfig.trelloAccessTokenSecret">
      <label flex="15">Access Token Secret:</label>
      <input flex="45" name="accessTokenSecret" type="text" class="form-control" [(ngModel)]="trelloConfig.trelloAccessTokenSecret" placeholder="AccessTokenSecret" disabled="true">
    </div>
  </div>

    <div flex layout="row" layout-align="center center" class="form-group">
        <div flex="15"></div>
        <a flex="45" class="btn btn-block btn-social btn-google" [href]='trelloURL'>
            <span class="fa fa-trello"></span>
            Connect to Trello
        </a>
        <div flex></div>
        <div flex></div>
    </div>
</form>
