<mat-card-content class="upper-space">
  <mat-input-container>
    <input matInput name="TrelloUserEmail" type="email" [(ngModel)]="trelloConfig.registrationEmail"
           placeholder="Trello Email Address" required [disabled]="trelloConfig.isEnabled">
  </mat-input-container>
</mat-card-content>

<mat-card-actions>
  <button mat-raised-button color="primary" (click)="onButtonClick()"
          [disabled]="!trelloConfig.registrationEmail || trelloConfig.isEnabled">
    <i class="fab fa-trello"></i> Connect to Trello
  </button>
  <span class="connected-msg" *ngIf="trelloConfig.isEnabled">Connection successful.</span>
</mat-card-actions>

<mat-card-content class="hidden">
  <div>Current Configuration:</div>
  <mat-input-container class="upper-space">
    <input matInput name="TrelloAccessToken" type="text" [(ngModel)]="trelloConfig.trelloAccessToken"
           placeholder="TrelloAccessToken" disabled>
  </mat-input-container>
</mat-card-content>
