.t-margin {
  margin-top: 15px;
}

.fa-trello {
  margin-right: 5px;
}

mat-card {
  min-height: 100%;
  overflow-y: scroll;
}

mat-input-container {
  min-width: 400px;
}

.mat-card-title {
  font-size: 24px;
  font-weight: 400;
}

.upper-space {
  margin-top: 30px;
}

.mat-card-actions {
  margin-right: 0;
}

.mat-card-actions .mat-button:first-child,
.mat-card-actions .mat-raised-button:first-child {
  margin-left: 16px;
  margin-right: 0;
}

.hidden {
  display: none;
}

.connected-msg {
  color: green;
  padding-left: 8px;
}
