.network-content {
  font-size: 14px !important;
  text-align: justify;
  padding: 10px;
  padding-top: 5px;
  overflow-y: auto;
}

.icon {
  cursor: default;
}

.show-more-container * {
  cursor: pointer;
}

.flip {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}
