<div fxLayout="column" class="full-height network-content">

  <div fxLayout="row" class="padding-left">
    <mat-input-container fxFlex floatingPlaceholder="false">
      <input matInput placeholder="Search for contacts..." [(ngModel)]="query" (keyup.enter)="search()">
    </mat-input-container>
    <button mat-icon-button (click)="search()">
      <mat-icon class="mat-24">search</mat-icon>
    </button>
  </div>

  <div fxLayout="row" *ngIf="!_query" fxFlex class="padding-left">
    <span>Please select or enter a name to search.</span>
  </div>

  <div fxLayout="row" *ngIf="loading" fxFlex class="padding-left">
    <spinner [loading]="loading"></spinner>
  </div>

  <div fxLayout="row" *ngIf="_query && !loading && (!contacts || contacts.length == 0)" fxFlex class="padding-left">
    <span>No contacts found!</span>
  </div>

  <div fxLayout="column" class="results-list-wrapper scrollable" *ngIf="_query && !loading" fxFlex>
    <div class="contact-network-container" *ngFor="let contact of contacts;">
      <!-- primary contact -->
      <div fxLayout="column" class="primary-contact-container" (click)="openDialog(contact)">
        <div fxLayout="row">
          <div fxFlex="19px" class="primary-icon-container">
            <img src="assets/img/network/primary_contact_small_black.png" class="icon"/>
          </div>
          <div fxFlex class="primary-details-name">
            {{contact.firstName}} {{contact.lastName}}
          </div>
        </div>
        <div fxLayout="row" class="primary-details-container">
          <div fxFlex fxFlexOffset="19px" class="primary-details-description" *ngIf="contact.description">
            {{contact.description}}
          </div>
          <div fxFlex fxFlexOffset="19px" class="primary-details-description" *ngIf="!contact.description">
            <i>No company details</i>
          </div>
        </div>
      </div>
      <!-- secondary contacts -->
      <ng-container *ngFor="let secondaryContact of contact.secondaryContacts; index as i;">
        <div fxLayout="column" class="secondary-contact-container" *ngIf="i < 3 || contact.showAllRelations"
             (click)="openDialog(secondaryContact)">
          <!-- top spacer -->
          <div fxLayout="row" class="secondary-contact-divider">
            <div fxFlex="48px" fxLayout="column" class="divider-icon-container">
              <img src="assets/img/network/secondary_contact_line_small_light_gray.png" class="divider-icon"/>
            </div>
          </div>
          <!-- name and main icon -->
          <div fxLayout="row">
            <div fxFlex="48px" fxLayout="column"
                 *ngIf="contact.secondaryContacts.length <= 3 && contact.secondaryContacts.length - 1 == i">
              <!-- if contact is the last one, show the end bubble -->
              <img src="assets/img/network/secondary_contact_end_small_light_gray.png" class="show-more-icon"/>
            </div>
            <div fxFlex="48px" class="secondary-icon-container"
                 *ngIf="!(contact.secondaryContacts.length <= 3 && contact.secondaryContacts.length - 1 == i)">
              <!-- else, use the normal icon -->
              <img src="assets/img/network/secondary_contact_small_light_gray.png" class="secondary-icon"/>
            </div>
            <div fxFlex class="secondary-details-name">
              {{secondaryContact.firstName}} {{secondaryContact.lastName}}
            </div>
          </div>
          <!-- additional information -->
          <div fxLayout="row">
            <div fxFlex="48px"
                 *ngIf="contact.secondaryContacts.length <= 3 && contact.secondaryContacts.length - 1 == i">
              <!-- if contact is the last one, hide the icon -->
            </div>
            <div fxFlex="48px"
                 *ngIf="!(contact.secondaryContacts.length <= 3 && contact.secondaryContacts.length - 1 == i)">
              <!-- else, use the normal icon -->
              <img src="assets/img/network/secondary_contact_line_small_light_gray.png" class="divider-icon"/>
            </div>
            <div fxFlex class="secondary-details-company"
                 *ngIf="secondaryContact.businessCompany && secondaryContact.businessJobTitle">
              <!-- if contacts belong to the same company, show the position instead of the company, else show company -->
              {{contact.businessCompany == secondaryContact.businessCompany ?
              secondaryContact.businessJobTitle :
              secondaryContact.businessCompany}}
            </div>
            <div fxFlex class="secondary-details-company"
                 *ngIf="!(secondaryContact.businessCompany && secondaryContact.businessJobTitle) && secondaryContact.businessCompany">
              <!-- if only company available, just show what we got -->
              {{secondaryContact.businessCompany}}
            </div>
            <div fxFlex class="secondary-details-company"
                 *ngIf="!(secondaryContact.businessCompany && secondaryContact.businessJobTitle) && secondaryContact.businessJobTitle">
              <!-- if only position available, just show what we got -->
              {{secondaryContact.businessJobTitle}}
            </div>
            <div fxFlex class="secondary-details-company"
                 *ngIf="!secondaryContact.businessCompany && !secondaryContact.businessJobTitle && secondaryContact.businessDepartment">
              <!-- if only department available, just show what we got -->
              {{secondaryContact.businessDepartment}}
            </div>
            <div fxFlex class="secondary-details-company"
                 *ngIf="!secondaryContact.businessCompany && !secondaryContact.businessJobTitle && !secondaryContact.businessDepartment">
              <!-- if no information available at all, tell the user -->
              <i class="light-text">No company information available</i>
            </div>
          </div>
        </div>
      </ng-container>
      <!-- show more button -->
      <div fxLayout="column" class="show-more-container" (click)="contact.showAllRelations = !contact.showAllRelations;"
           *ngIf="contact.secondaryContacts && contact.secondaryContacts.length > 3">
        <div fxLayout="row">
          <div fxFlex="48px" fxLayout="column">
            <img src="assets/img/network/secondary_contact_end_small_light_gray.png" class="show-more-icon"/>
          </div>
          <span fxFlex fxLayout="column" class="show-more-text" *ngIf="!contact.showAllRelations">
            Show more... ({{contact.secondaryContacts.length - 3}})
          </span>
          <span fxFlex fxLayout="column" class="show-more-text" *ngIf="contact.showAllRelations">
            Show less...
          </span>
        </div>
      </div>
    </div>
  </div>

</div>
