.progressbar-top {
      margin-top: -24px;
    margin-bottom: 24px;
    width: 70%;
    margin-left: -24px;
    position: absolute;
}

.selectList {
    margin-top: 15px;
    margin-bottom: 15px;
}

.pointer {
    cursor: pointer;
}

.member-initials {
    background-color: lightgrey;
    height: 24px;
    min-width: 25px;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    padding: 2px;
    border-radius: 4px;
    margin-right: 2px;
}

.text-area {
    resize: none;
}

.trello-icon {
  height: 42px;
  width: 52px;
  right: 16%;
  position: absolute;
}
