<div fxFlex fxLayout="column">
  <md-progress-bar *ngIf="sending" mode="indeterminate"></md-progress-bar>
  <div md-dialog-title fxLayout="row">
    <span *ngIf="!editTitle" fxFlex>{{task.name}}</span>
  <!--  <span *ngIf="editTitle" fxFlex>-->
      <md-input-container fxFlex *ngIf="editTitle">
        <input md-input type="text" name="title" placeholder="Task Name" maxRows="3" [(ngModel)]="task.name" value="task.name" >
      </md-input-container>
  <!--  </span>-->
    <md-icon *ngIf="!editTitle" (click)="editTitle = true">mode_edit</md-icon>
    <md-icon *ngIf="editTitle" (click)="editTitle = false">done</md-icon>
    <md-icon (click)="closeDialog()" class="pointer">close</md-icon>
  </div>
  <div>
    <form fxFlex fxLayout="column">
      <div fxLayout="row" class="selectList">
        <md-select fxFlex="50" name="board-select" [(ngModel)]="task.board" [disabled]="task.taskType == 'linked'" required placeholder="Select a board..">
          <md-option *ngFor="let board of boards; let b = index" [value]="task.taskType == 'suggested' ? board : task.board" (onSelect)="task.taskType == 'suggested' ? onSelectBoard(board): ''">
            {{ board.name }}
          </md-option>
        </md-select>
        <md-select fxFlex="50" [(ngModel)]="task.list" name="list-select" *ngIf="task.board" [disabled]="task.taskType == 'linked'" required placeholder="Select a list..">
          <md-option *ngFor="let list of task.board.lists" [value]="task.taskType == 'suggested' ? list : task.list">
            {{ list.name }}
          </md-option>
        </md-select>
      </div>

      <div fxLayout="row">
        <div fxFlex="50">
          <md-input-container fxFlex="20">
            <input name="date" md-input placeholder="Due Date" type="date" required [(ngModel)]="task.date" value="task.date | date:'yyyy-MM-dd'">
          </md-input-container>
        </div>
        <div fxFlex="50" *ngIf="task.board">
          <div fxLayout="row">
            <div *ngFor="let member of task.selectedMembers; let i = index" [title]="member.fullName" fxLayout="row" fxLayoutAlign="center center" class="member-initials">
              <span >{{member.initials}}</span>
              <md-icon (click)="deleteMember(member, i)">close</md-icon>
            </div>
          </div>
          <md-select class="selectList board-width" placeholder="Delegate to.." [(ngModel)]="currMember" name="member" (onClose)="currMember = ''">
            <md-option [value]="''">Choose...</md-option>
            <md-option *ngFor="let member of task.possibleMembers; let i = index" [value]="member" (onSelect)="addMember(member, i)">
              {{ member.fullName }}
            </md-option>
          </md-select>
        </div>

    </div>

      <md-input-container>
        <textarea md-input type="text" name="task-description" placeholder="Task Description" maxRows="3" [(ngModel)]="task.desc" value="task.desc" rows="10"></textarea>
      </md-input-container>
    </form>
  </div>
  <md-dialog-actions>
    <button md-submit md-raised-button color="primary" [disabled]="sending" (click)="createTask()" *ngIf="task.taskType == 'suggested'">Create Task</button>
    <button md-submit md-raised-button color="primary" (click)="updateTask()" *ngIf="task.taskType == 'linked'">Update Task</button>
  </md-dialog-actions>
</div>
