<div flex layout="column">
  <div flex>
    <button type="button" (click)="openCreateEmailModal()" class="btn-compose btn">COMPOSE
      <span class="glyphicon glyphicon-edit"></span>
    </button>
  </div>
  <div flex>
    <ul flex class="inbox-nav inbox-divider">
      <li *ngFor="let item of navbarItems">
        <a class="listitems" [routerLink]="item.route" [routerLinkActive]="['active']">
          <span class="icon-margin {{item.icon}}"></span>{{item.name}}
          <span class="label label-info pull-right">{{item.total}}</span>
        </a>
      </li>
      <hr>
      <li>
        <a [routerLink]="['/settings/email']" [routerLinkActive]="['active']">
          <span class="icon-margin glyphicon glyphicon-user"></span>Account
        </a>
      </li>
      <li>
        <a [routerLink]="['/login']" [routerLinkActive]="['active']">
          <span class="icon-margin glyphicon glyphicon-log-out"></span>Logout
        </a>
      </li>
    </ul>
  </div>
  <div flex layout="column" class="sync-status">
    <hr>
    <div flex layout="row" class="sync-title">
      Last synced: 12.12.2012 - 12:12
      <button class="btn btn-default" (click)="refresh()">
        <span class="glyphicon glyphicon-refresh"></span>
      </button>
    </div>
  </div>
</div>
