:host {
  width: calc(100% + 3px); /* correct parent offset, prevents whitespace between action bar and shadow of context bar */
}

.action-buttons button {
  margin: 5px;
}

.action-buttons {
  background-color: #F8F8F8;
}

.email-action-button {
  min-width: 30px;
}
