<div fxLayout="row" fxLayoutAlign="center center" class="action-buttons"
     *ngIf="!responseStatus">
  <div *ngIf="showMailActions(); else draftActions">
    <button mat-raised-button matTooltip="Mark as Read" class="email-action-button"
            *ngIf="!(email.flags.indexOf('\\Seen') > -1)"
            (click)="addFlags(['\\Seen'])">
      <mat-icon>drafts</mat-icon>
      <span> Read</span>
    </button>
    <button mat-raised-button matTooltip="Mark as Unread" class="email-action-button"
            *ngIf="email.flags.indexOf('\\Seen') > -1"
            (click)="deleteFlags(['\\Seen'])">
      <mat-icon>mail</mat-icon>
    </button>
    <button mat-raised-button class="email-action-button" matTooltip="Reply"
            (click)="replyEmail()">
      <mat-icon>reply</mat-icon>
    </button>
    <button mat-raised-button class="email-action-button" matTooltip="Forward"
            (click)="forwardEmail()">
      <mat-icon>forward</mat-icon>
    </button>
    <button mat-raised-button matTooltip="Move to Trash" class="email-action-button"
            (click)="moveEmailToTrash()">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-raised-button matTooltip="Highlight Annotations" class="email-action-button"
            (click)="toggleHighlightAnnotations()">
      <mat-icon [class.enabled]="email.highlightAnnotations">border_color</mat-icon>
    </button>
    <!--
    <button mat-raised-button class="email-action-button" matTooltip="Move to Box"
            [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button (click)="moveEmailToBox(box.shortName)" mat-menu-item *ngFor="let box of boxList">
          <span>{{box.shortName}}</span>
        </button>
    </mat-menu>
      -->
  </div>
</div>
<ng-template #draftActions>
  <button mat-raised-button matTooltip="Edit" class="email-action-button"
          (click)="editEmail()">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-raised-button matTooltip="Move to Trash" class="email-action-button"
          (click)="moveEmailToTrash()">
    <mat-icon>delete</mat-icon>
  </button>
</ng-template>
<div fxLayout="row" fxLayoutAlign="center center" class="action-buttons"
     *ngIf="responseStatus">
  <button mat-raised-button (click)="emitDiscardEmailResponse()">
    <mat-icon>close</mat-icon>
    <span>Discard</span></button>
</div>
