<svg width="20" height="50" xmlns="http://www.w3.org/2000/svg">
    <text transform="rotate(-90 10,25)" font-family="Helvetica, Arial, sans-serif" font-size="16" y="30" x="-10" fill="#d7e3ef">{{text}}</text>
</svg>                                                                                                                                               
                                                                                                                                                                                                                         