<md-card fxFlex>
  <md-tab-group>
    <md-tab label="SocioCortex">
      <md-card fxFlex>
        <form fxFlex>
          <div fxFlex fxfxLayout="column">
            <div fxFlex fxLayout="row" fxLayoutAlign="start center" style="margin-bottom:15px;">
              <md-checkbox name="isEnabled" [(ngModel)]="socioCortex.isEnabled">Enable</md-checkbox>
            </div>
            <md-input-container fxFlex fxLayout="row" fxLayoutAlign="start center">
              <input md-input name="email" type="text" [(ngModel)]="socioCortex.email" placeholder="Email" autofocus required disabled="{{!socioCortex.isEnabled}}">
            </md-input-container>
            <md-input-container fxFlex fxLayout="row" fxLayoutAlign="start center">
              <input md-input fxFlex="45" name="password" type="password" [(ngModel)]="socioCortex.password" placeholder="password" required disabled="{{!socioCortex.isEnabled}}">
            </md-input-container>
            <md-input-container fxFlex fxLayout="row" fxLayoutAlign="start center">
              <input md-input fxFlex="45" name="baseURL" type="text" [(ngModel)]="socioCortex.baseURL" placeholder="base url" required disabled="{{!socioCortex.isEnabled}}">
            </md-input-container>
          </div>
          <button md-raised-button color="primary" (click)="updateSocioCortex()">Save Configuration</button>
        </form>
      </md-card>      
    </md-tab>
  </md-tab-group>
</md-card>
