<mat-card fxFlex>
  <mat-tab-group>
    <mat-tab label="SocioCortex">
      <mat-card fxFlex>
        <form fxFlex>
          <div fxFlex fxfxLayout="column">
            <div fxFlex fxLayout="row" fxLayoutAlign="start center" style="margin-bottom:15px;">
              <mat-checkbox name="isEnabled" [(ngModel)]="socioCortex.isEnabled">Enable</mat-checkbox>
            </div>
            <mat-input-container fxFlex fxLayout="row" fxLayoutAlign="start center">
              <input matInput name="email" type="text" [(ngModel)]="socioCortex.email" placeholder="Email" autofocus required disabled="{{!socioCortex.isEnabled}}">
            </mat-input-container>
            <mat-input-container fxFlex fxLayout="row" fxLayoutAlign="start center">
              <input matInput fxFlex="45" name="password" type="password" [(ngModel)]="socioCortex.password" placeholder="Password" required disabled="{{!socioCortex.isEnabled}}">
            </mat-input-container>
            <mat-input-container fxFlex fxLayout="row" fxLayoutAlign="start center">
              <input matInput fxFlex="100" name="baseURL" type="text" [(ngModel)]="socioCortex.baseURL" placeholder="Base URL" required disabled="{{!socioCortex.isEnabled}}">
            </mat-input-container>
          </div>
          <button mat-raised-button color="primary" (click)="updateSocioCortex()">Save Configuration</button>
        </form>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</mat-card>
