* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  height:100%;
  margin: 0;
  overflow: hidden;
}

.full-height {
    height:100%;
}

.scrollable {
    max-height: 100%;
    overflow-y:scroll;
}

.padding-side {
  padding: 0 10px;
}

div.cdk-focus-trap-content {
  height:100%;
}

.md-tab-label {
  min-width: 0px;
}

.md-tab-list > div{
  min-width: 100px! important;
}
