* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.full-height {
    height: 100%;
}

.scrollable {
    max-height: 100%;
    overflow-y: scroll;
}

.padding-side {
    padding: 0 10px;
}

div.cdk-focus-trap-content {
    height: 100%;
}

.md-tab-label {
    min-width: 0px;
}

.md-tab-list>div {
    min-width: 100px! important;
}

.md-dialog-container {
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
    background: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 100px;
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0);
    min-height: 10px;
}

::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(0, 0, 0, 0.61);
    -webkit-border-radius: 100px;
}

.text-overflow {
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}