<!--<md-card class="tasks-card">
  <md-card-header>
    <md-card-title class="card-title">
      <md-input-container >
        <input md-input placeholder="Task Name" type="text" [disabled]="task.taskType == 'linked'" [(ngModel)]="task.name">
      </md-input-container>
    </md-card-title>
    <img md-card-avatar src="/assets/img/trello.gif">
  </md-card-header>
  <md-card-content>
    <div>
      <p>
        <md-input-container class="board-width">
          <input md-input placeholder="Due Date" type="date" [(ngModel)]="task.date" [disabled]="true" value="task.date">
        </md-input-container>
      </p>
      <p class="card-title">
        {{task.desc}}
      </p>
    </div>
  </md-card-content>
  <md-card-actions fxFlex fxLayout="row">
    <div fxFlex="50" fxLayoutAlign="center center">
      <button (click)="openTaskDialog(task)" md-button>
        <md-icon>mode_edit</md-icon>
      </button>
    </div>
    <div fxFlex="50" fxLayoutAlign="center center">
      <button (click)="removeTask(task)" md-button>
        <md-icon>close</md-icon>
      </button>
    </div>
  </md-card-actions>
</md-card>-->

<md-card (click)="openTaskDialog(task)" class="tasks-card">
  <md-card-header>
    <div md-card-avatar class="header-image"></div>
    <md-card-title class="card-title">{{task.name}}</md-card-title>
    <md-icon class="pointer" (click)="removeTask(task)">close</md-icon>
  </md-card-header>
  <md-card-content class="card-desc">
    <p>
        {{task.desc}}
    </p>
  </md-card-content>
</md-card>
