<md-card fxFlex>
  <md-card-title>Structureal Infromation</md-card-title>
  <!--
  <form fxFlex>
    <div fxFlex fxfxLayout="column">
      <md-input-container fxFlex fxLayout="row" fxLayoutAlign="start center">
        <input md-input fxFlex="70" name="username" type="text" [(ngModel)]="user.username" placeholder="Username" [disabled]="true">
      </md-input-container>
      <md-input-container fxFlex fxLayout="row" fxLayoutAlign="start center">
        <input md-input fxFlex="70" name="password" type="password" [(ngModel)]="user.password" placeholder="Password" required>
      </md-input-container>
    </div>
      <button md-raised-button color="primary" (click)="updateUser()">Update User Credentials</button>
  </form>
  -->
</md-card>

