<md-card fxFlex>
  <md-card-title>TASK User Credentials</md-card-title>
  <form>
    <div fxFlex fxLayout="column">
      <md-input-container fxFlex>
        <input md-input name="username" type="text" [(ngModel)]="user.username" placeholder="Username" [disabled]="true">
      </md-input-container>
      <md-input-container>
        <input md-input name="email" type="email" [(ngModel)]="user.email" placeholder="Email" autofocus>
      </md-input-container>
      <md-input-container>
        <input md-input name="password" type="password" [(ngModel)]="user.password" placeholder="Password" required>
      </md-input-container>
    </div>
      <button md-raised-button color="primary" (click)="updateUser()">Update User Credentials</button>
  </form>
</md-card>

<md-card fxFlex>
  <md-card-title>Connection Overview</md-card-title>
  <md-list>
      <md-list-item [class.not-connected]="user.provider && !user.provider.name">
        <span md-list-avatar *ngIf="user.provider && user.provider.name=='Gmail'" class="fa-3x fa fa-google"></span>
        <span md-list-avatar *ngIf="user.provider && user.provider.name=='Exchange'" class="fa-3x fa fa-windows"></span>
        <span md-list-avatar *ngIf="user.provider && !user.provider.name" class="fa-3x fa fa-envelope"></span>
        <h4 md-line>{{user.provider && user.provider.name ? user.provider.name : 'Email Provider'}}</h4>
        <p md-line>
          <span [class.connected]="user.provider && user.provider.name">{{user.provider && user.provider.name ? 'Connected' : 'Not Connected'}}</span>
        </p>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item [class.not-connected]="!user.trello">
        <span md-list-avatar class="fa-3x fa fa-trello"></span>
        <h4 md-line>Trello</h4>
        <p md-line>
          <span [class.connected]="user.trello" >{{user.trello ? 'Connected' : 'Not Connected'}}</span>
        </p>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item [class.not-connected]="!user.sociocortex">
        <span md-list-avatar class="fa-3x fa fa-circle"></span>
        <h4 md-line>SocioCortex</h4>
        <p md-line>
          <span [class.connected]="user.sociocortex" >{{user.sociocortex ? 'Connected' : 'Not Connected'}}</span>
        </p>
      </md-list-item>
    </md-list>
  </md-card>
