<div fxLayout="column" class="full-height">
    <div fxLayout="row" class="create-email-btn" fxLayoutAlign="center center">
      <button md-raised-button (click)="openCreateEmailDialog()">
        <md-icon>create</md-icon>
        <span>Compose Email</span>
      </button>
    </div>
    <div class="sidenav-boxes scrollable">
      <md-nav-list>
        <navbar-list-item [item]="item" *ngFor="let item of navbarItems"></navbar-list-item>
      </md-nav-list>
      <hr>
      <md-input-container>
        <input md-input placeholder="Add/Del Box" [(ngModel)]="boxName">
      </md-input-container>
      <div class="button-row">
        <button md-raised-button (click)="addBox()">Add</button>
        <button md-raised-button (click)="delBox()">Del</button>
      </div>
    </div>
    <div fxLayoutAlign="center center">
        <button md-button (click)="refresh()">
            Last sync: <small>{{lastSync | date:'short'}}</small>
        <md-icon class="md-24" style="color:gray">sync</md-icon>
        </button>
    </div>
</div>
