<div flex layout="column" class="inbox-nav">
  <div flex>
    <button type="button" (click)="openCreateEmailModal()" class="btn-compose btn">
      <span class="glyphicon glyphicon-edit glyph"></span>Compose Email
    </button>
  </div>
  <div flex>
    <ul flex class="inbox-nav inbox-divider">
      <li *ngFor="let item of navbarItems">
        <navbar-list-item [item]="item"></navbar-list-item>
      </li>
    </ul>
  </div>
  <div flex layout="column" class="sync-status">
    <hr>
    <div flex layout="row" class="sync-title">
      Last synced: 12.12.2012 - 12:12
      <button class="btn btn-default" (click)="refresh()">
        <span class="glyphicon glyphicon-refresh"></span>
      </button>
    </div>
  </div>
</div>
