<div #wrapper fxLayout="column" class="email-card" fxFlex *ngIf="email">
  <div #topSection>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div *ngIf="email.from.length > 0" class="evc-from-circle" fxLayout="column" fxLayoutAlign="center center" fxHide="false"
        fxHide.sm>
        {{email.from[0].address | slice: 0:1 | uppercase}}
    </div>
    
    <div fxLayout="column">
      <div class="evc-text-title" *ngIf="email.from.length > 0"> {{email.from[0].name}} &lt;{{email.from[0].address}}&gt; </div>
      <div class="evc-text-caption" *ngIf="email.date"> {{email.date | date:'medium'}}</div>
      <div class="evc-text-caption" *ngIf="email.to"> To: {{email.box.shortName != 'Drafts' ? email.to[0].address : ''}} </div>
    </div>
  </div>
  <hr>
  <div>
    <h4>{{email.subject}}</h4>
  </div>
</div>
<div fxFlex *ngIf="email">
  <div *ngIf="email.html" class="iframe-container">
    <iframe #iframe [srcdoc]="email.html" (load)="adjustIframeSize(iframe, topSection)">
    </iframe>
  </div>
  <div *ngIf="!email.html">
    <span class="line" *ngFor="let s of email.sentences" [class.contains-task]="sentenceContainsTask(s.id)" [class.highlighted]="s.highlighted"
      (mouseenter)="highlight(s.id,true)" (mouseleave)="highlight(s.id,false)">
      <span *ngIf="sentenceContainsTask(s.id)" (click)="openSentenceDialog(s)">{{s.sentence}}</span><span *ngIf="!sentenceContainsTask(s.id)">{{s.sentence}}</span>
      </span>
  </div>
</div>
</div>
