<div *ngIf="!loading" layout="row">
  <div flex="15" class="navigation">
    <navbar (onRefresh)="onRefresh($event)" (getEmailBox)="getEmailBox($event)" (openModal)="openModal($event)"></navbar>
  </div>
  <div flex="25">
    <list [emails]="emails" (getSingleMail)="getSingleMail($event)"></list>
  </div>
  <div flex="40">
    <detailedView [email]="email"></detailedView>
  </div>
  <div flex="20">
    <taskList></taskList>
  </div>
</div>
<div *ngIf="loading" class="spinner">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div>
<email-modal [modalType]="currentModalType" (closeModal)="closeModal()"></email-modal>

Currently Syncing:
{{syncing}}
<button (click)="syncBoxes([])">Sync</button>

<br>
<input [(ngModel)]="taskName" placeholder="Task Name">
<button (click)="createTask()">Create Task</button>
{{createdTask}}
