<div *ngIf="!loading" layout="row" class="wrapper">
  <div flex="15" class="navigation">
    <navbar (onRefresh)="onRefresh($event)" (getEmailBox)="getEmailBox($event)" (openModal)="openModal($event)" [mailView]="mailView" (switchView)="switchView($event)"></navbar>
  </div>
  <!-- Mail View -->
  <div *ngIf="mailView" flex="85">
    <div layout="row">
      <div flex="25" class="scrollable">
        <list [emails]="emails" (getSingleMail)="getSingleMail($event)"></list>
      </div>
      <div flex="50" class="scrollable">
        <detailedView [email]="email" [loadedOnce]="loadedOnce"></detailedView>
      </div>
      <div flex="25" class="scrollable">
        <taskList></taskList>
      </div>
    </div>
  </div>
  <!-- Profile View -->
  <div *ngIf="!mailView" flex="85">
    <profile></profile>
  </div>
</div>
<div *ngIf="loading" class="spinner">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div>
<email-modal [modalType]="currentModalType" (closeModal)="closeModal()"></email-modal>

<!--
<div *ngIf="!loading" layout="row" class="wrapper">
  <div flex="15" class="navigation">
    <navbar (onRefresh)="onRefresh($event)" (getEmailBox)="getEmailBox($event)" (openModal)="openModal($event)"></navbar>
  </div>
    <div flex="25" class="scrollable">
      <list [emails]="emails" (getSingleMail)="getSingleMail($event)"></list>
    </div>
    <div flex="40" class="scrollable">
      <detailedView [email]="email" [loadedOnce]="loadedOnce"></detailedView>
    </div>
    <div flex="20" class="scrollable">
      <taskList></taskList>
    </div>
</div>
<div *ngIf="loading" class="spinner">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div>
<email-modal [modalType]="currentModalType" (closeModal)="closeModal()"></email-modal>
-->
<!-- Currently Syncing:
{{syncing}}
<button (click)="syncBoxes([])">Sync</button>

<br>
<input [(ngModel)]="taskName" placeholder="Task Name">
<button (click)="createTask()">Create Task</button>
{{createdTask}} -->
