<md-list-item class="navbar-list-item" [class.route-active]="isActive(item.route)" [routerLink]="item.route">
  
  <div md-line>
    <md-icon class="v-align-middle">{{item.icon}}</md-icon>
    <a class="v-align-middle">{{item.shortName}}</a>
  </div>
  <div *ngIf="item.unseen > 0" class="unseen-counter"><a>{{item.unseen}}</a></div>

</md-list-item>

<md-nav-list class="no-padding padding-left" *ngIf="item.children.length > 0">
    <navbar-list-item [item]="child" *ngFor="let child of item.children"></navbar-list-item>
</md-nav-list>


