
<div fxLayout="column" class="full-height wiki-content">
  <div fxLayout="row">
    <mat-input-container fxFlex floatingPlaceholder="false">
        <input matInput placeholder="Search..." [(ngModel)]="query" (keyup.enter)="search()">
    </mat-input-container>
    <button mat-icon-button (click)="search()">
        <mat-icon class="mat-24">search</mat-icon>
    </button>
  </div>
  <div fxLayout="row" fxFlex>
    <spinner *ngIf="loading" [loading]="loading"></spinner>
    <div *ngIf="!loading" [innerHTML]="content"></div>
  </div>
</div>
