
<div fxLayout="column" class="full-height wiki-content">
  <div fxLayout="row">
    <md-input-container fxFlex floatingPlaceholder="false">
        <input mdInput placeholder="Search..." [(ngModel)]="query" (keyup.enter)="search()">
    </md-input-container>
    <button md-icon-button (click)="search()">
        <md-icon class="md-24">search</md-icon>
    </button>
  </div>
  <div fxLayout="row" fxFlex>
    <spinner *ngIf="loading" [loading]="loading"></spinner>
    <div *ngIf="!loading" [innerHTML]="content"></div>
  </div>
</div>
