.table-inbox {
   margin-bottom: 0;
}
.table-inbox tr td {
   padding: 12px !important;
}
.table-inbox tr td:hover {
   cursor: pointer;
}
.table-inbox tr td .fa-star.inbox-started, .table-inbox tr td .fa-star:hover {
   color: #f78a09 ;
}
.table-inbox tr td .fa-star {
   color: #d5d5d5 ;
}
.table-inbox tr.unread td {
   background: none repeat scroll 0 0 #f7f7f7 ;
   font-weight: 600;
}

.route-active {
    background: none repeat scroll 0 0 #f7f7f7 ;
}

.lc-padding {
  padding: 8px;
}

.lc-mail-height {
    min-height: 55px;
}

.lc-mail {
  border-bottom: 1px solid lightgrey;
}

.lc-mail:hover {
  cursor: pointer;
  background-color: #f7f7f7;
}

.lc-text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

.lc-text-head {
  font-weight: 600;
}

.lc-text-subhead {
  font-weight: 500;
}

.lc-text-date {
  font-size: 12px;
  font-weight: 200;
}

md-list-item {
  padding: 16px;
}

.md-list-item-text h3 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: inherit;
}

.md-list-item-text h3, .md-list-item-text p{
  padding: 0;
  margin: 0;
}
