<div flex layout="column">
  <search-bar></search-bar>
  <div *ngFor="let mail of emails; let i = index" class="lc-mail-height {{mail.unread}}">
    <div flex layout="row" layout-align="start center" class="lc-padding lc-mail" [routerLink]="mail.route" [class.route-active]="isActive(mail.route)">
      <div flex="10" layout-align="center center">
        <input type="checkbox" class="mail-checkbox">
      </div>
      <div flex="90" layout="column">
        <div layout="row" layout-align="start center">
          <div flex="65" class="lc-text-overflow lc-text-head"> {{mail.from[0].name ? mail.from[0].name : mail.from[0].address}} </div>
          <div flex="35" class="lc-text-overflow lc-text-date">  {{mail.date | date:'shortTime'}}, {{mail.date | date:'shortDate'}}</div>
        </div>
        <div class="lc-text-overflow lc-text-subhead"> {{mail.subject}} </div>
      </div>
    </div>
  </div>
</div>
