<form>
  <div class="form-group has-warning has-feedback">
    <label for="exampleInputEmail1">Enter email address</label>
    <input type="email" class="form-control" [disabled]="mailValid" placeholder="Email">
    <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
    <span id="inputWarning2Status" class="sr-only">(warning)</span>
  </div>
  <div class="form-group">
    <a class="btn btn-block btn-social btn-google">
    <span class="fa fa-envelope"></span> Connect to Exchange
  </a>
  </div>
  <button type="submit" class="btn btn-default" [disabled]="mailValid" (click)="mailValid=true">Submit</button>
  <button type="submit" class="btn btn-default" [disabled]="!mailValid" (click)="mailValid=false">Edit Settings</button>
</form>
