.radio-container {
  margin: 0 0 8px 0;
  padding: 0 0 16px 0;
}

md-radio-button {
  margin: 8px;
}
#network {
  height: 500px;
  width: 900px;
  background-color: #eee;
}

.viewPortContainer {
  overflow: scroll;
  height: 100vh;
}
