<div *ngIf="email && boxList" fxFlex fxLayout="row" class="full-height">
  <div fxFlex fxLayout="column" fxLayoutAlign="start stretch">
    <email-action-bar
      fxFlex="50px"
      [responseStatus]="responseStatus"
      (generateEmailResponseActionBar)="generateEmailResponse($event)"
      (discardEmailResponse)="discardEmailResponse($event)"
      [email]="email"
      (onEmailMoveToTrash)="emailMoveToTrash($event)"
      (onEmailMoveToBox)="emailMoveToBox($event)"
      [boxList]="boxList"
      (onAddFlags)="addFlags($event)"
      (onDeleteFlags)="deleteFlags($event)">
    </email-action-bar>
    <email-view
      fxFlex
      class="scrollable"
      *ngIf="!emailResponse.text && !emailResponse.type && !moving"
      [email]="email"
      (highlightSentence)="highlightSentence($event)"
    >
    </email-view>
    <div *ngIf="moving" fxFlex fxLayout="row" fxLayoutAlign="center center">
      <spinner [loading]="true"></spinner>
    </div>
    <email-response
      fxFlex
      fxLayout="row"
      fxLayoutAlign="center stretch"
      class="email-detail-container scrollable"
      *ngIf="emailResponse.type"
      [emailForm]="emailResponse"
      [sending]="sending"
      (sendMail)="sendEmail($event)"
    >
    </email-response>
  </div>
</div>
<div *ngIf="!email || !boxList" fxFlex fxLayout="row" fxLayoutAlign="center center" class="full-height">
  <spinner [loading]="true"></spinner>
</div>
