<div *ngIf="email && boxList" fxFlex fxLayout="row" class="full-height">
  <div fxFlex="70" fxLayout="column">
    <email-action-bar [responseStatus]="responseStatus" (generateEmailResponseActionBar)="generateEmailResponse($event)" (discardEmailResponse)="discardEmailResponse($event)" [email]="email" (onEmailMoveToBox)="emailMoveToBox($event)" [boxList]="boxList" (onAddFlags)="addFlags($event)" (onDeleteFlags)="deleteFlags($event)"></email-action-bar>
    <email-view class="email-detail-container" *ngIf="!emailResponse.text" [email]="email" fxFlex class="scrollable"></email-view>
    <email-response class="email-detail-container" *ngIf="emailResponse.text" [emailForm]="emailResponse" (sendMail)="sendEmail($event)"></email-response>
  </div>
  <tasks [email]="email" fxFlex="30"></tasks>
</div>
<div *ngIf="!email || !boxList" fxFlex fxLayout="row" fxLayoutAlign="center center" class="full-height">
  <spinner [loading]="true"></spinner>
</div>