.evc-padding {
  padding: 8px 0 0 8px;
}

.evc-from-circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: lightblue;
  font-size: 20px;
  font-weight: bold;
  margin: 8px;
}

.evc-header {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 5px;
}

.evc-text-title {
  font-weight: 600;
}

.evc-text-subtitle {
  font-weight: 500;
}

.evc-text-caption {
  font-size: 12px;
  font-weight: 200;
}

.iframe-container {
  position: relative;
  padding-top: 100%;
  width: 100%;
}

.iframe-container>iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border: 0;
}

.email-card {
  /*min-height: 100%;*/
  margin: 10px;
  /*box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);*/
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  will-change: box-shadow;
  padding: 24px;
  border-radius: 2px;
}

.border {
  border-top: 0.5px solid #888383;
}

.contains-task {
  color: #444c62;
  cursor: pointer;
}

.highlighted {
    font-weight: bold;
}

.highlighted.line:after {
  width: 100%;
  background: #20c9a1;
}

.line:after {
  content: '';
  display: block;
  margin: 2px auto;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.line {
  display: inline-block;
  position: relative;
  padding: 3px;
}
