<div (click)="open(task)" class="tasks-card pointer">
    <div fxLayoutAlign="start center" class="title-container">
        <div fxFlex class="title">{{task.name}}</div>
        <md-icon class="pointer alert-icon" *ngIf="overdue && !sticker_check">add_alert</md-icon>
        <md-icon class="pointer check-icon" *ngIf="sticker_check">check</md-icon>
    </div>
    <div fxLayout="column" fxLayoutAlign="center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <md-icon fxFlex-gt-sm="8">date_range</md-icon>
            <div fxFlex-gt-sm="27" [class.overdue-text]="overdue && !sticker_check" class="text-overflow">{{task.due | date:'shortDate'}}</div>
            <md-icon class="icon-margin" fxFlex-gt-sm="8">person</md-icon>
            <div fxFlex-gt-sm="53" fxLayout="row" style="overflow: hidden">
                <div *ngFor="let member of task.members" [mdTooltip]="member.fullName" fxLayout="row" fxLayoutAlign="center center" class="member-initials">
                    <span>{{member.initials}}</span>
                </div>
                <div *ngIf="task.members.length < 1"><i>No person assigned</i></div>
            </div>
        </div>
        <p *ngIf="task.desc" class="text-overflow">
            {{task.desc}}
        </p>
        <p *ngIf="!task.desc" class="text-overflow">
            <i>No description</i>
        </p>
    </div>
</div>