<mat-progress-bar color="accent" class="progressbar-top" *ngIf="sending" mode="indeterminate"></mat-progress-bar>

<div fxFlex fxLayout="column" class="full-height">
<div fxLayout="column" class="email-form-title">
    <div fxLayout="row">
        <span fxFlex>New Email</span>
        <mat-icon style="cursor: pointer;" (click)="closeDialog(false)">close</mat-icon>
    </div>
    <div *ngIf="sending" fxFlex class="boarder-line"></div>
</div>



<div fxLayout="column" fxFlex class="email-form">

        <div fxLayout="row" style="margin-top: 8px;" fxLayoutAlign="start center">
            <mat-input-container fxFlex>
                <input matInput #inputTo (keyup.enter)="addAddress(inputTo,'to')" (change)="addAddress(inputTo,'to')"
                    type="email" placeholder="To:" required/>
            </mat-input-container>
            <div fxLayout="row" *ngIf="emailForm.to.length > 0" fxFlex="70" fxLayoutAlign="start center" fxLayoutWrap="wrap">
                    <div *ngFor="let to of emailForm.to; let i = index" class="address-tag" fxLayout="row" fxLayoutAlign="center center">
                        <span class="address-tag-span">{{to}}</span>
                        <mat-icon class="pointer" (click)="deleteAddress(i, 'to')" fxLayoutAlign="center center">close</mat-icon>
                    </div>
                </div>
            <span class="cc-tags" [class.add-recipients-selected]="cc" (click)="cc = !cc">CC</span>
            <span class="cc-tags" [class.add-recipients-selected]="bcc" (click)="bcc = !bcc">BCC</span>
        </div>



                <div fxLayout="row">
            <mat-input-container *ngIf="cc" fxFlex style="margin-right: 1px;">
                <input matInput #inputCc (keyup.enter)="addAddress(inputCc,'cc')" (change)="addAddress(inputCc,'cc')" placeholder="Cc:" type="email"
                    autofocus>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap="wrap">
                    <div *ngFor="let cc of emailForm.cc; let i = index" class="address-tag" fxLayout="row" fxLayoutAlign="center center">
                        <span class="address-tag-span">{{cc}}</span>
                        <mat-icon class="pointer" (click)="deleteAddress(i, 'cc')" fxLayoutAlign="center center">close</mat-icon>
                    </div>
                </div>
            </mat-input-container>
            <mat-input-container *ngIf="bcc" fxFlex style="margin-left: 1px;">
                <input matInput #inputBcc (keyup.enter)="addAddress(inputBcc,'bcc')" (change)="addAddress(inputBcc,'bcc')" placeholder="Bcc:"
                    type="email" autofocus>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap="wrap">
                    <div *ngFor="let bcc of emailForm.bcc; let i = index" class="address-tag" fxLayout="row" fxLayoutAlign="center center">
                        <span class="address-tag-span">{{bcc}}</span>
                        <mat-icon class="pointer" (click)="deleteAddress(i, 'bcc')" fxLayoutAlign="center center">close</mat-icon>
                    </div>
                </div>
            </mat-input-container>
        </div>

         <mat-input-container>
            <input matInput placeholder="Subject:" type="text" name="subject" [(ngModel)]="emailForm.subject">
        </mat-input-container>

        <mat-input-container>
            <textarea matInput placeholder="Message" [(ngModel)]="emailForm.text" name="text" rows="7"></textarea>
        </mat-input-container>

        <div class="email-form-actions" fxLayoutAlign="center center">
            <button (click)="sendEmail()" mat-raised-button color="primary" [disabled]="sending">Send Email</button>
            <button (click)="saveDraft()" mat-raised-button color="primary" [disabled]="sending">Save as Draft</button>
        </div>


   </div>

 <div fxLayout="column" class="task-container" fxFlex="27" fxLayoutAlign="center center">
        <spinner *ngIf="searchForTasks" [loading]="searchForTasks"></spinner>
        <div *ngIf="relatedTasks.length == 0" fxLayout="column" fxLayoutAlign="center center">No tasks found</div>
        <div *ngIf="relatedTasks.length > 0" class="vertical-scroll" fxLayout="row">
            <task-item-email-dialog style="margin:5px;" *ngFor="let task of relatedTasks; let i = index;" [task]="task" (removeTask)="removeTask($event)"></task-item-email-dialog>
        </div>
    </div>
 </div>
