<mat-card class="scrollable">

  <mat-card-header>
    <mat-card-title>Email Provider Configuration</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div>Provider:</div>
    <mat-radio-group name="radio1" [(ngModel)]="selectedEmail">
      <mat-radio-button value="Gmail">Gmail</mat-radio-button>
      <mat-radio-button value="Exchange">Exchange</mat-radio-button>
    </mat-radio-group>
  </mat-card-content>


  <div *ngIf="selectedEmail === 'Gmail'">
    <mat-card-content>
      <mat-input-container>
        <input matInput placeholder="Email Address" type="email" name="email" [(ngModel)]="gmailConfig.user" autofocus
               required>
      </mat-input-container>
    </mat-card-content>

    <mat-card-content>
      <mat-input-container>
        <input matInput placeholder="Password" type="password" name="password" [(ngModel)]="gmailConfig.password"
               required>
      </mat-input-container>
    </mat-card-content>

    <mat-card-content>
      <mat-input-container>
        <input matInput placeholder="Host" type="text" name="host" [(ngModel)]="gmailConfig.host" required>
      </mat-input-container>
    </mat-card-content>

    <mat-card-content>
      <mat-input-container>
        <input matInput placeholder="Port" type="number" name="port" [(ngModel)]="gmailConfig.port" required>
      </mat-input-container>
    </mat-card-content>

    <mat-card-content>
      <mat-input-container>
        <input matInput placeholder="SMTP Host" type="text" name="smtphost" [(ngModel)]="gmailConfig.smtpHost"
               required>
      </mat-input-container>
    </mat-card-content>

    <mat-card-content>
      <mat-input-container>
        <input matInput placeholder="SMTP Port" type="number" name="smtpport" [(ngModel)]="gmailConfig.smtpPort"
               required>
      </mat-input-container>
    </mat-card-content>

    <mat-card-content>
      <mat-input-container>
        <input matInput #inputSmtpDomains (keyup.enter)="addDomain(inputSmtpDomains)"
               (change)="addDomain(inputSmtpDomains)" type="text" placeholder="SMTP Domains:" required/>
      </mat-input-container>
    </mat-card-content>

    <mat-card-content>
      <mat-chip-list>
        <mat-chip *ngFor="let domain of gmailConfig.smtpDomains; let i = index">
          <div fxLayout="row" fxLayoutAlign="start center">
            <span>{{domain}}</span>
            <mat-icon class="pointer" (click)="deleteDomain(i)">close</mat-icon>
          </div>
        </mat-chip>
      </mat-chip-list>
    </mat-card-content>
  </div>

  <div *ngIf="selectedEmail === 'Exchange'">
    <mat-card-content>
      <mat-input-container>
        <input matInput placeholder="Email Address" type="email" name="email" [(ngModel)]="exchangeConfig.user"
               autofocus
               required>
      </mat-input-container>
    </mat-card-content>

    <mat-card-content>
      <mat-input-container>
        <input matInput placeholder="Password" type="password" name="password" [(ngModel)]="exchangeConfig.password"
               required>
      </mat-input-container>
    </mat-card-content>

    <mat-card-content>
      <mat-input-container>
        <input matInput placeholder="Host" type="text" name="host" [(ngModel)]="exchangeConfig.host" required>
      </mat-input-container>
    </mat-card-content>
  </div>


  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="updateEmailConfig()">Save Configuration</button>
  </mat-card-actions>

</mat-card>
