@import '../../../../styles/_variables.scss';

.sentence-dialog-heading {
  font-weight: 600;
}
.pointer {
  cursor: pointer;
}

.false {
  color: $red-warn;
}

.true {
  color: $light-green-accent;
}
