<div class="list-group mailList">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a href="#">From:</a>
          </li>
      </ul>
    </div>
  </div>
  </nav>

  <a flex layout="row" style="display:flex" href="#" class="list-group-item">
    <div flex="5">
      <label>
        <input checked="true" type="checkbox">
      </label>
    </div>
    <div flex="5">
      <span class="glyphicon glyphicon-star"></span>
    </div>
    <div flex="90">
      <h4 class="list-group-item-heading">Daniel Elsner</h4>
      <p class="list-group-item-text">Lorem ipsum dolor sit amet, erat tempor cu vis. Placerat consequat mel in, ius eros exerci no. Eu laudem causae explicari vim. Et blandit detracto percipit mel, vis ut recusabo constituto. Eu sit elitr nullam intellegebat.</p>
    </div>
  </a>
  <a flex layout="row" style="display:flex" href="#" class="list-group-item active">
    <div flex="5">
      <label>
        <input checked="true" type="checkbox">
      </label>
    </div>
    <div flex="5">
      <span class="glyphicon glyphicon-star"></span>
    </div>
    <div flex="90">
      <h4 class="list-group-item-heading">Constantin Mense</h4>
      <p class="list-group-item-text">Lorem ipsum dolor sit amet, erat tempor cu vis. Placerat consequat mel in, ius eros exerci no. Eu laudem causae explicari vim. Et blandit detracto percipit mel, vis ut recusabo constituto. Eu sit elitr nullam intellegebat.</p>
    </div>
  </a>
  <a flex layout="row" style="display:flex" href="#" class="list-group-item">
    <div flex="5">
      <label>
        <input type="checkbox">
      </label>
    </div>
    <div flex="5">
      <span class="glyphicon glyphicon-star"></span>
    </div>
    <div flex="90">
      <h4 class="list-group-item-heading">Paul</h4>
      <p class="list-group-item-text">Lorem ipsum dolor sit amet, erat tempor cu vis. Placerat consequat mel in, ius eros exerci no. Eu laudem causae explicari vim. Et blandit detracto percipit mel, vis ut recusabo constituto. Eu sit elitr nullam intellegebat.</p>
    </div>
  </a>
  <a flex layout="row" style="display:flex" href="#" class="list-group-item">
    <div flex="5">
      <label>
        <input type="checkbox">
      </label>
    </div>
    <div flex="5">
      <span class="glyphicon glyphicon-star"></span>
    </div>
    <div flex="90">
      <h4 class="list-group-item-heading">Florian Matthes</h4>
      <p class="list-group-item-text">Lorem ipsum dolor sit amet, erat tempor cu vis. Placerat consequat mel in, ius eros exerci no. Eu laudem causae explicari vim. Et blandit detracto percipit mel, vis ut recusabo constituto. Eu sit elitr nullam intellegebat.</p>
    </div>
  </a>
  <a flex layout="row" style="display:flex" href="#" class="list-group-item">
    <div flex="5">
      <label>
        <input type="checkbox">
      </label>
    </div>
    <div flex="5">
      <span class="glyphicon glyphicon-star"></span>
    </div>
    <div flex="90">
      <h4 class="list-group-item-heading">Felix Michel</h4>
      <p class="list-group-item-text">Lorem ipsum dolor sit amet, erat tempor cu vis. Placerat consequat mel in, ius eros exerci no. Eu laudem causae explicari vim. Et blandit detracto percipit mel, vis ut recusabo constituto. Eu sit elitr nullam intellegebat.</p>
    </div>
  </a>
  <a flex layout="row" style="display:flex" href="#" class="list-group-item">
    <div flex="5">
      <label>
        <input type="checkbox">
      </label>
    </div>
    <div flex="5">
      <span class="glyphicon glyphicon-star"></span>
    </div>
    <div flex="90">
      <h4 class="list-group-item-heading">Chuck Norris</h4>
      <p class="list-group-item-text">Lorem ipsum dolor sit amet, erat tempor cu vis. Placerat consequat mel in, ius eros exerci no. Eu laudem causae explicari vim. Et blandit detracto percipit mel, vis ut recusabo constituto. Eu sit elitr nullam intellegebat.</p>
    </div>
  </a>
  <a flex layout="row" style="display:flex" href="#" class="list-group-item">
    <div flex="5">
      <label>
        <input type="checkbox">
      </label>
    </div>
    <div flex="5">
      <span class="glyphicon glyphicon-star"></span>
    </div>
    <div flex="90">
      <h4 class="list-group-item-heading">Chuck Norris</h4>
      <p class="list-group-item-text">Lorem ipsum dolor sit amet, erat tempor cu vis. Placerat consequat mel in, ius eros exerci no. Eu laudem causae explicari vim. Et blandit detracto percipit mel, vis ut recusabo constituto. Eu sit elitr nullam intellegebat.</p>
    </div>
  </a>
  <a flex layout="row" style="display:flex" href="#" class="list-group-item">
    <div flex="5">
      <label>
        <input type="checkbox">
      </label>
    </div>
    <div flex="5">
      <span class="glyphicon glyphicon-star"></span>
    </div>
    <div flex="90">
      <h4 class="list-group-item-heading">Chuck Norris</h4>
      <p class="list-group-item-text">Lorem ipsum dolor sit amet, erat tempor cu vis. Placerat consequat mel in, ius eros exerci no. Eu laudem causae explicari vim. Et blandit detracto percipit mel, vis ut recusabo constituto. Eu sit elitr nullam intellegebat.</p>
    </div>
  </a>
  <a flex layout="row" style="display:flex" href="#" class="list-group-item">
    <div flex="5">
      <label>
        <input type="checkbox">
      </label>
    </div>
    <div flex="5">
      <span class="glyphicon glyphicon-star"></span>
    </div>
    <div flex="90">
      <h4 class="list-group-item-heading">Chuck Norris</h4>
      <p class="list-group-item-text">Lorem ipsum dolor sit amet, erat tempor cu vis. Placerat consequat mel in, ius eros exerci no. Eu laudem causae explicari vim. Et blandit detracto percipit mel, vis ut recusabo constituto. Eu sit elitr nullam intellegebat.</p>
    </div>
  </a>
  <a flex layout="row" style="display:flex" href="#" class="list-group-item">
    <div flex="5">
      <label>
        <input type="checkbox">
      </label>
    </div>
    <div flex="5">
      <span class="glyphicon glyphicon-star"></span>
    </div>
    <div flex="90">
      <h4 class="list-group-item-heading">Chuck Norris</h4>
      <p class="list-group-item-text">Lorem ipsum dolor sit amet, erat tempor cu vis. Placerat consequat mel in, ius eros exerci no. Eu laudem causae explicari vim. Et blandit detracto percipit mel, vis ut recusabo constituto. Eu sit elitr nullam intellegebat.</p>
    </div>
  </a>
</div>
