<!-- <div class="card-container padding">
    <input [(ngModel)]="test">
    <p>{{test}}</p>
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 x-large class="sample-content">Email-Webclient Angular 2</h1>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-lg-12 text-center">
      <div>
        <pre class="card card-block card-header">Selected date is: <em *ngIf="dt">{{ getDate() | date:'fullDate'}}</em></pre>
        <h4>Inline</h4>
        <div style="display:inline-block; min-height:290px;">
          <datepicker [(ngModel)]="dt" [minDate]="minDate" [showWeeks]="true"></datepicker>
        </div>

        <hr />
        <button type="button" class="btn btn-sm btn-info" (click)="today()">Today</button>
        <button type="button" class="btn btn-sm btn-default btn-secondary" (click)="d20090824();">2009-08-24</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="clear()">Clear</button>
        <button type="button" class="btn btn-sm btn-default btn-secondary" (click)="toggleMin()" tooltip="After today restriction">Min date</button>
      </div>
    </div>

    <hr>

    <button class="btn btn-primary" (click)="lgModal.show()">Large modal</button>

    <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            <h4 class="modal-title">Large modal</h4>
          </div>
          <div class="modal-body">
            ...
          </div>
        </div>
      </div>
    </div>

  </div>

  <hr>

  <div class="row">
    <div class="col-lg-6 text-center">
      <h4>Local State</h4>

      <form (ngSubmit)="submitState(localState.value)" autocomplete="off">

        <input [value]="localState.value" (input)="localState.value = $event.target.value" placeholder="Submit Local State to App State"
          autofocus>

        <button md-raised-button color="primary">Submit Value</button>
      </form>
      <div class="col-lg-6">
        <pre class="app-state">this.appState.state = {{ appState.state | json }}</pre>
      </div>

      <pre>this.localState = {{ localState | json }}</pre>
    </div>
  </div>

  <hr>
</div> -->


<div layout="row">
  <div flex="15" class="navigation">
    <navbar></navbar>
  </div>
  <div flex="25">
    <list></list>
  </div>
  <div flex="40">
    <detailedView></detailedView>
  </div>
  <div flex="20">
    <taskList></taskList>
  </div>
</div>
