<div fxFlex fxLayout="column">
  <div class="task-action-top-bar" fxLayoutAlign="center center">
    <button mat-raised-button color="primary" [matMenuTriggerFor]="createTask" matTooltip="Create or link Task">
        <span>Task Actions</span>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    <mat-menu #createTask="matMenu">
      <button mat-menu-item (click)="openDialogTask()">
      <mat-icon>edit</mat-icon>
      <span>Create empty task</span>
    </button>
      <button mat-menu-item (click)="openDialogLinkedTask()">
      <mat-icon>swap_horiz</mat-icon>
      <span>Link existing task</span>
    </button>
    </mat-menu>
  </div>
  <div class="task-action-top-bar action-buttons" fxLayout="column" fxLayout.gt-mat="row" fxLayoutAlign="center start" fxLayoutAlign.gt-mat="center center">
    <mat-checkbox color="primary" [(ngModel)]="showLinked" (click)="clickLinkedFilter()">Linked</mat-checkbox>
    <mat-checkbox color="accent" [(ngModel)]="showSuggested" (click)="clickSuggestedFilter()">Suggested</mat-checkbox>
  </div>
</div>
