<div fxFlex="90" fxLayout="column">
  <mat-progress-bar *ngIf="sending" color="accent" mode="indeterminate"></mat-progress-bar>
  <div fxFlex fxLayout="column" fxLayoutAlign="start stretch">

    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-input-container fxFlex>
        <input matInput #inputTo (keyup.enter)="addAddress(inputTo,'to')" (change)="addAddress(inputTo,'to')"
               type="email" placeholder="To:" required/>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap="wrap">
          <div *ngFor="let to of emailForm.to; let i = index" class="address-tag" fxLayout="row"
               fxLayoutAlign="center center">
            <span class="address-tag-span">{{to.address}}</span>
            <mat-icon class="pointer" (click)="deleteAddress(i, 'to')" fxLayoutAlign="center center">close</mat-icon>
          </div>
        </div>
      </mat-input-container>
      <span class="cc-tags" [class.add-recipients-selected]="cc" (click)="cc = !cc">CC</span>
      <span class="cc-tags" [class.add-recipients-selected]="bcc" (click)="bcc = !bcc">BCC</span>
    </div>

    <div fxLayout="row">

      <mat-input-container fxFlex *ngIf="cc">
        <input matInput #inputCc (keyup.enter)="addAddress(inputCc,'cc')" (change)="addAddress(inputCc,'cc')"
               placeholder="Cc:" type="email">

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap="wrap">
          <div *ngFor="let cc of emailForm.cc; let i = index" class="address-tag" fxLayout="row"
               fxLayoutAlign="center center">
            <span class="address-tag-span">{{cc.address}}</span>
            <mat-icon class="pointer" (click)="deleteAddress(i, 'cc')" fxLayoutAlign="center center">close</mat-icon>
          </div>
        </div>
      </mat-input-container>

      <mat-input-container fxFlex *ngIf="bcc">
        <input matInput #inputBcc (keyup.enter)="addAddress(inputBcc,'bcc')" (change)="addAddress(inputBcc,'bcc')"
               placeholder="Bcc:" type="email">

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap="wrap">
          <div *ngFor="let bcc of emailForm.bcc; let i = index" class="address-tag" fxLayout="row"
               fxLayoutAlign="center center">
            <span class="address-tag-span">{{bcc.address}}</span>
            <mat-icon class="pointer" (click)="deleteAddress(i, 'bcc')" fxLayoutAlign="center center">close</mat-icon>
          </div>
        </div>
      </mat-input-container>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-input-container fxFlex>
        <input matInput placeholder="Subject:" type="text" name="subject" [(ngModel)]="emailForm.subject">
      </mat-input-container>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-input-container fxFlex>
        <textarea matInput placeholder="Message" [(ngModel)]="emailForm.text" name="text" rows="20" autofocus></textarea>
      </mat-input-container>
    </div>

    <div fxFlex fxLayout="row" fxLayoutAlign="center center">
      <button mat-submit mat-raised-button color="primary" (click)="sendEmail()" [disabled]="sending">Send Email</button>
    </div>

  </div>
</div>
