<div class="navigation">
  <div class="navbar">
    <div style="text-align: center;">
      <button type="button" (click)="openCreateEmailModal()" class="mailButton btn btn-default">COMPOSE NEW MAIL
        <span class="glyphicon glyphicon-edit"></span>
      </button>
      <button class="btn btn-default" (click)="refresh()">
        <span class="glyphicon glyphicon-refresh"></span>
      </button>
    </div>
    <ul class="nav nav-pills nav-stacked">
      <navbar-list-item *ngFor="let item of navbarItems" [item]="item"></navbar-list-item>
      <hr>
      <li role="presentation">
        <a class="listitems" [routerLink]="['/account']" [routerLinkActive]="['active']">
          <span style="margin-right: 5px;" class="glyphicon glyphicon-user"></span>Account
        </a>
      </li>
      <li role="presentation">
        <a class="listitems" [routerLink]="['/login']" [routerLinkActive]="['active']">
          <span style="margin-right: 5px;" class="glyphicon glyphicon-log-out"></span>Logout
        </a>
      </li>
    </ul>
  </div>
</div>
