<div fxLayout="column" fxFlex>
    <top-navbar></top-navbar>

    <div fxLayout="row">
        <div fxFlex="15" fxFlex.sm="30" fxFlex.xs="30">
          <md-nav-list fxFlex>
            <md-list-item [routerLink]="link.link" *ngFor="let link of links" [routerLinkActive]="['route-active']">
              <a md-line >{{link.name}}</a>
                <md-icon>{{link.icon}}</md-icon>
            </md-list-item>
          </md-nav-list>
        </div>
        <div fxFlex layout="row">
                <div fxFlex class="account-content">
                    <account fxFlex *ngIf="getCurrentView('email')"></account>
                    <patterns fxFlex *ngIf="getCurrentView('patterns')"></patterns>
                    <task fxFlex *ngIf="getCurrentView('tasks')"></task>
                    <overview fxFlex *ngIf="getCurrentView('overview')"></overview>
                    <!--<help fxFlex *ngIf="getCurrentView('help')"></help>-->
                </div>
        </div>
    </div>
</div>
