<div layout="column" flex class="wrapper">
    <top-navbar></top-navbar>

    <div layout="row" flex class="inbox-nav">
        <div flex="15" class="inbox-nav">
            <div class="account-usertitle" layout="column" layout-align="start center" flex>

                <img id="account-img" class="account-img-card"
                     src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>

                <div flex layout="row" class="account-usermenu">
                    <ul class="nav" flex>
                        <li >
                            <a [routerLinkActive]="['route-active']" class="listitems" [routerLink]="['/settings/email']">
                                <i class="glyphicon glyphicon-envelope"></i>
                                Email Settings
                            </a>
                        </li>
                        <li >
                            <a [routerLinkActive]="['route-active']" class="listitems"[routerLink]="['/settings/tasks']">
                                <i class="glyphicon glyphicon-ok"></i>
                                Task Settings
                            </a>
                        </li>
                        <li >
                            <a [routerLinkActive]="['route-active']"class="listitems" [routerLink]="['/settings/overview']">
                                <i class="glyphicon glyphicon-home"></i>
                                Overview
                            </a>
                        </li>
                        <li >
                            <a [routerLinkActive]="['route-active']"class="listitems" [routerLink]="['/settings/help']">
                                <i class="glyphicon glyphicon-flag"></i>
                                Help
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div flex layout="row">
            <div flex>
                <div flex class="account-content">
                    <!-- Account Settings -->
                    <account flex *ngIf="getCurrentView('email')"></account>
                    <!-- Tasks -->
                    <task flex *ngIf="getCurrentView('tasks')"></task>
                    <!-- Overview -->
                    <overview flex *ngIf="getCurrentView('overview')"></overview>
                    <!-- Help -->
                    <help flex *ngIf="getCurrentView('help')"></help>
                </div>
            </div>
        </div>
    </div>
</div>
